{% load staticfiles %}
<!-- Angular 1.5.6 libraries -->
<script src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'bower_components/angular-touch/angular-touch.min.js' %}"></script>
<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<!-- Angular UI: Bootstrap -->
<script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<!-- Datatables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<!-- Angular Datatables -->
<script src="{% static 'bower_components/angular-datatables/dist/angular-datatables.min.js' %}"></script>
<script src="{% static 'bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js' %}"></script>
<!-- Handsontable -->
<script src="{% static 'bower_components/handsontable/dist/handsontable.full.min.js' %}"></script>
<script src="{% static 'bower_components/ngHandsontable/dist/ngHandsontable.min.js' %}"></script>
<!-- ng-file-upload -->
<script src="{% static 'bower_components/ng-file-upload/ng-file-upload-all.min.js' %}"></script>
<!-- ng-scrollbars -->
<script src="{% static 'bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'bower_components/ng-scrollbars/dist/scrollbars.min.js' %}"></script>
<!-- angular-ui-select -->
<script src="{% static 'bower_components/angular-ui-select/dist/select.min.js' %}"></script>
<!-- Moment.js -->
<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'bower_components/toastr/toastr.min.js' %}"></script>
<!-- Angular pagination -->
<script src="{% static 'bower_components/angularUtils-pagination/dirPagination.js' %}"></script>
<!-- Angular Chart.js -->
<script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'bower_components/angular-chart.js/dist/angular-chart.min.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'admin-lte/js/app.min.js' %}"></script>

<!-- Django Angular -->
<script src="{% static 'djng/js/django-angular.js' %}"></script>
<!-- Django NYT Scripts -->
<script type="text/javascript">
  URL_NYT_GET_NEW = "{% url "nyt:json_get" %}";
  URL_NYT_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
  URL_NYT_GOTO = "{% url "nyt:goto_base" %}";
</script>

<!-- Angular App -->
<!-- Resources -->
<script src="{% static 'app/resources/ei.hospitals.models.js' %}?v=0005"></script>
<script src="{% static 'app/resources/ei.months.models.js' %}?rel=1506162894843"></script>
<script src="{% static 'app/resources/ei.rotations.models.js' %}?rel=1498746955411"></script>
<script src="{% static 'app/resources/ei.accounts.models.js' %}?rel=1498746955411"></script>
<script src="{% static 'app/resources/ei.leaves.models.js' %}?rel=1505014661209"></script>
<!-- Directives -->
<script src="{% static 'app/directives/ei.rotations.directives.js' %}?v=0012"></script>
<script src="{% static 'app/directives/ei.months.directives.js' %}?v=0011"></script>
<script src="{% static 'app/directives/ei.leaves.directives.js' %}?rel=1506114197800"></script>
<!-- Utilities -->
<script src="{% static 'app/resources/ei.interceptors.js' %}"></script>
<script src="{% static 'app/resources/ei.utils.js' %}?v=0001"></script>
<!-- Controllers -->
{% if role == 'intern' %}
<script src="{% static 'app/intern/ei.intern.hospitals.js' %}?v=0003"></script>
<script src="{% static 'app/intern/ei.intern.months.js' %}?rel=1506162894843"></script>
<script src="{% static 'app/intern/ei.intern.rotations.js' %}?v=0014"></script>
<script src="{% static 'app/intern/ei.intern.leaves.js' %}?rel=1503603970322"></script>
<script src="{% static 'app/intern/ei.intern.js' %}?v=0004"></script>
{% elif role == 'staff' %}
<script src="{% static 'app/staff/ei.staff.accounts.js' %}?v=0018"></script>
<script src="{% static 'app/staff/ei.staff.hospitals.js' %}?v=0001"></script>
<script src="{% static 'app/staff/ei.staff.rotations.js' %}?rel=1500118799370"></script>
<script src="{% static 'app/staff/ei.staff.leaves.js' %}?rel=1503603970322"></script>
<script src="{% static 'app/staff/ei.staff.js' %}?v=0004"></script>
{% elif role == 'outsider' %}
<script src="{% static 'app/outsider/ei.outsider.js' %}?v=0002"></script>
{% endif %}
