<section class="content-header">
  <h1 class="text-center" style="font-size: 5em; padding-top: 5%; padding-bottom: 5%;">
    <b>Easy</b>Internship
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h5 class="box-title"><b>Welcome!</b></h5>
        </div>
        <div class="box-body">

          <p>
            First of all, <span class="text-green text-bold">congratulations on making it here!</span> It's been a really long way, and a tough one, no doubt. But you're here now, and that's what matters.
            Ahead of you now is your medical internship year, where you practice and build upon what you learned all throughout medical school, as well as set the plans for the rest of your medical career.
            As you're starting right now, we take this chance to wish you a very fruitful and enjoyable internship, and a very bright and successful future!
          </p>
          <hr>
          <p>
            <b>This is Easy Internship</b>, an electronic portal with the goal of making your life easy and helping you plan and manage all the aspects of your internship.
            Through it you'll be able to submit your internship plan, track your requests, manage your leaves, and do many other things. <b>Lets take a quick look around:</b>
            <ul>
              <li>The menu above <i class="fa fa-hand-o-up"></i> shows you the main sections of Easy Internship, namely: the <b>home page</b> (this page), the <b>internship planner</b>, and your <b>profile page</b>. </li>
              <li>The <b>home page</b> is where announcements (like this one) will be posted, as well as where you'll find a reference of the important information about your internship year (below <i class="fa fa-hand-o-down"></i>).</li>
              <li>The <b>internship planner</b> is the place where you'll be spending most of the time. This is where you will submit your plan and manage all aspects of your internship.</li>
              <li>Your <b>profile page</b> is accessible through the right-most part of the menu. Here you can see all your information and update them as necessary.</li>
            </ul>
            You probably have also noticed the notifications <i class="fa fa-bell-o"></i> icon. You'll be notified here of any important updates, and you'll also receive the same updates through your university email <i class="fa fa-envelope-o"></i>.
          </p>
          <p>
            Feel free to take a look around on your own and spend some time familiarizing yourself with the place. You'll be here quite often, so be sure you're comfortable using the website.
          </p>
          <hr>
          <p>
            We've done our best trying to make using the website as easy as possible; however, we have to say this is still <b class="text-light-blue">a work in progress</b>.
            Pardon us if some of the contents of the website move around a bit in the coming weeks as we're getting everything tidied up.
            <b class="text-light-blue">Your feedback is highly valuable here as well. Please don't hesitate to tell us whatever you think or feel regarding how any part looks or works.</b>
            We'll also be around for any assistance in case you face any creepy bugs <i class="fa fa-bug"></i> or run into some unexpected trouble.
            <b>Contact us at <a href="mailto:support@easyinternship.net">support@easyinternship.net</a> for any feedback or assistance.</b>
          </p>
          <p>All the best!<br>Easy Internship Team</p>

        </div>
      </div>
    </div>
  </div>

  <hr style="border-color: gray;">

  <h3 class="text-center">Important information about your medical internship</h3>
  <br>

  <div class="row">
    <div class="col-md-6">

      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>About the Medical Internship</b></h5>
        </div>
        <div class="box-body">

          <p>Medical Internship (MI) is a supervised period spent in different specialties, following the completion of graduation requirements from the medical school.</p>
          <p>During MI, the intern should be an active learner, achieving learning outcomes independently by demonstrating a variety of learning styles. The learner should also fulfill the essential educational components of practice-based experiences, feedback and reflection in practice.</p>
          <p>At the end of Medical Internship, a medical intern is able to:
            <ul>
              <li>Diagnose and manage diseases by applying the basic medical and clinical sciences effectively in practice.</li>

              <li>Provide comprehensive management that includes health care and disease prevention.</li>

              <li>Demonstrate effective role as a team member and apply the principles of multi- disciplinary approach.</li>

              <li>Know when to ask for opinion from clinical supervisors and senior colleagues.</li>

              <li>Deal professionally with the patient and family.</li>

              <li>Apply effective tools in communication, presentation and leadership.</li>

              <li>Apply the principles of clinical governance.</li>

              <li>Demonstrate life-long commitment toward continuing medical education.</li>
            </ul>
          </p>

        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>About the Internship Unit</b></h5>
        </div>
        <div class="box-body">

          <p>Medical Internship Unit (MIU) is under the umbrella of Clinical Affairs, College of Medicine, KSAU-HS.</p>

          <p>The MIU governs medical internship based on the following charges:
            <ul>
              <li>Runs administrative affairs related to medical internship program.</li>
              <li>Deals with issues related to interns.</li>
              <li>Prepares an ideal training and learning environment.</li>
              <li>Conducts educational activities to enhance intern’s skills.</li>
              <li>Promotes research related to medical internship.</li>
              <li>Orients medical intern for future career choices and opportunities.</li>
            </ul>
          </p>

        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>Intern's Responsibilities and Rights</b></h5>
        </div>
        <div class="box-body">

          <p>Medical Intern is responsible for their learning, assessment and attendance at structured learning sessions in their placements. They will maintain an up-to- date portfolio. Each activity is an opportunity to learn something new such as a competency or a clinical skill. Some competencies can be learned from nurses or other health care workers. The precise arrangements and responsibilities will vary by specialties. There will be emphasis on gradual increasing responsibilities for patient care that facilitates the progress from being supervised to independence.</p>

          <p>
            During MI, each intern is expected to:
            <ul>
              <li>Be a professional and effective team member.</li>

              <li>Provide safe patient care.</li>

              <li>Conduct a history and perform a physical examination.</li>

              <li>Prepare a list of differential diagnoses, working diagnoses, appropriate</li>
              investigations, and a management plan.

              <li>Seek approval from the clinical supervisor prior to executing the management</li>
              plan.

              <li>Follow and document the management plan, results of investigations, and any</li>
              changes in the patient’s condition.

              <li>Adhere to the rules and regulations of the assigned department.</li>

              <li>Apply modern methods of teaching e.g. Microskills.</li>


            </ul>
          </p>

          <p>
            Medical Intern rights include:
            <ul>
              <li>Training under the supervision of a faculty staff.</li>

              <li>Availability of a rich training and academic environment.</li>

              <li>Receiving proper and professional treatment.</li>

              <li>Enjoying leaves as per College of Medicine policy and procedures.</li>

              <li>Awareness of assessment and evaluation in different placements.</li>

              <li>Any dispute should be brought to the attention of the placement supervisor or Director of MIU.</li>

            </ul>
          </p>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>Applying to the Medical Internship (MI)</b></h5>
        </div>
        <div class="box-body">

          <p>During the clinical clerkship (Phase III of the curriculum), each medical intern will be requested to apply in order to start MI.  Completion of all graduation requirements is a pre-requisite for MI.  Once MI is successfully completed, a graduation ce1tificate will be released.</p>

          <p>To ensure high quality training and proper supervision, medical interns are encouraged to spend the training at King Abdulaziz Medical City/Ministry of National Guard Health Affairs - Riyadh (KAMC/MNGHA-R). The rotations during MI include:</p>

          <table class="table">
            <thead>
              <th></th>
              <th>Rotation</th>
              <th>Duration</th>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>Internal Medicine</td>
                <td>2 months</td>
              </tr>
              <tr>
                <th>2</th>
                <td>Surgery</td>
                <td>2 months</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Pediatrics</td>
                <td>2 months</td>
              </tr>
              <tr>
                <th>4</th>
                <td>Obstetrics and Gynecology</td>
                <td>2 months</td>
              </tr>
              <tr>
                <th>5</th>
                <td>Emergency Medicine</td>
                <td>1 month</td>
              </tr>
              <tr>
                <th>6</th>
                <td>Family Medicine</td>
                <td>1 month</td>
              </tr>
              <tr>
                <th>7</th>
                <td>Elective</td>
                <td>2 months</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>