<div class="example-modal">
  <div class="modal">
    <div class="modal-dialog" style="width: 800px;">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">Previous requests for {{ month.label }}</h3>
        </div>

        <div class="modal-body">

          <p ng-if="request_history.length !== 0">Below is a breakdown of your previous requests for this month. The oldest requests are at the bottom and the newest ones at the top.</p>

          <div style="background-color: #ecf0f5; padding-top: 10px; padding-bottom: 10px;">
            <p ng-if="request_history.length == 0" style="text-align: center;"><i>There are no previous requests for this month.</i></p>

            <ul ng-if="request_history.length !== 0" class="timeline">
                <!-- timeline item -->
                <li ng-repeat="request in request_history | orderBy: 'submission_datetime' : true">
                    <!-- timeline icon -->
                    <i ng-class="{'fa fa-check bg-green': request.response.is_approved, 'fa fa-close bg-red': request.response.is_approved == false}"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{ request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</span>

                        <h3 class="timeline-header">
                          Requested
                          <span ng-if="request.is_rotation_request">
                            <span ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">
                              {{ request.specialty.name }}
                              <span ng-if="request.is_elective">(elective)</span>
                            </span>  @
                            {{ request.requested_department.department.hospital.abbreviation }}
                          </span>
                          <span ng-if="request.is_rotation_cancel_request" class="text-red">
                            cancellation of rotation
                          </span>
                          <span ng-if="request.is_freeze_request" class="text-aqua">
                            a freeze
                          </span>
                          <span ng-if="request.is_freeze_cancel_request" class="text-red">
                            cancellation of a freeze
                          </span>
                        </h3>

                        <div class="timeline-body">
                          <dl class="dl-horizontal">
                            <div ng-if="request.is_rotation_request">
                              <dt>Specialty</dt>
                              <dd class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">{{ request.specialty.name }}</dd>

                              <dt>Hospital</dt>
                              <dd class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">{{ request.requested_department.department.hospital.name }}</dd>

                              <dt>Elective?</dt>
                              <dd>
                                <span ng-if="request.is_elective == true" class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">
                                  Yes
                                </span>
                                <span ng-if="request.is_elective == false">No</span>
                              </dd>
                            </div>

                            <div ng-if="request.is_rotation_cancel_request">
                              <dt>Description</dt>
                              <dd class="text-bold text-red">Cancellation of rotation</dd>
                            </div>

                            <div ng-if="request.is_freeze_request">
                              <dt>Justification</dt>
                              <dd>
                                <div class="box box-solid box-default" style="margin-bottom: 0;" ng-if="request.justification">
                                  <div class="box-body bg-gray-light">
                                    <p style="white-space: pre;">{{ request.justification }}</p>
                                  </div>
                                </div>
                                <span ng-if="!request.justification">No justification was provided.</span>
                              </dd>
                            </div>

                            <dt style="width: inherit;">Submission date and time</dt>
                            <dd>{{ request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                          </dl>

                          <div class="box box-solid" ng-if="!!request.forward">
                            <div class="box-body bg-warning">

                              <dl class="dl-horizontal" style="margin-bottom: 0;">
                                <dt>Forward date and time</dt>
                                <dd>{{ request.forward.forward_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                                <dt>Forward memo</dt>
                                <dd>
                                  <a href="{{ request.forward.memo_file }}" class="btn btn-xs btn-danger">As PDF</a>
                                  <!--<i>(last updated: {{ request.forward.last_updated.format('dddd, D MMMM YYYY, hh:mm a') }} )</i>-->
                                </dd>
                              </dl>

                            </div>
                          </div>

                          <div class="box box-solid" style="margin-bottom: 0;">
                            <div class="box-body" ng-class="{'bg-success': request.response.is_approved, 'bg-danger': request.response.is_approved == false}">

                              <dl class="dl-horizontal" style="margin-bottom: 0;">
                                <dt>Response</dt>
                                <dd>
                                  <span class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">
                                    <span ng-if="request.response.is_approved">Approved</span>
                                    <span ng-if="request.response.is_approved == false">Declined</span>
                                  </span>
                                </dd>

                                <dt>Response date and time</dt>
                                <dd>{{ request.response.response_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                                <dt>Comments</dt>
                                <dd>
                                  <div class="box box-solid box-default" style="margin-bottom: 0;"
                                       ng-if="request.response.comments">
                                    <div class="box-body bg-gray-light">
                                      <p style="white-space: pre;">{{ request.response.comments }}</p>
                                    </div>
                                  </div>
                                  <span ng-if="!request.response.comments">No comment was provided.</span>
                                </dd>
                              </dl>

                            </div>
                          </div>

                        </div>

                    </div>
                </li>
                <!-- END timeline item -->

                <!-- timeline item -->
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
                <!-- END timeline item -->
            </ul><!-- /.timeline -->

          </div>

        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <a class="btn btn-default pull-left" href="javascript:history.back()">
            Back
          </a>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
