appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
coverage==4.1
decorator==4.0.11
Django==2.2.28
django-angular==0.8.2  # *** confirm it's installed ***
django-bootstrap3==7.0.1
django-ckeditor==5.2.1
django-debug-toolbar==1.8
django-filter==1.0.0
django-guardian==1.4.1
git+https://github.com/clearspark/django-monthfield.git@8ca8872bf9370b339aa37c83de2e8817315bece0#egg=django-monthfield
django-nyt==0.9.9
django-post-office==2.0.8
django-protractor-new==0.9.1
django-sitetree==1.5.1
django-userena==2.0.1
djangorestframework==3.4.0
djangorestframework-filters==0.10.1
docutils==0.13.1
docxtpl==0.2.4
easy-thumbnails==2.3
ecdsa==0.13
enum34==1.1.6
et-xmlfile==1.0.1
Fabric==1.12.0
factory-boy==2.7.0
fake-factory==0.5.8
html2text==2014.12.29
idna==2.5
ipaddress==1.0.18
ipython==5.4.1
ipython-genutils==0.2.0
jdcal==1.3
Jinja2==2.8
jsonfield==1.0.3
line-profiler==2.0
lxml==3.7.0
MarkupSafe==0.23
openpyxl==2.4.8
paramiko==1.17.2
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.3.0
pockets==0.3.1
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.1.3
python-dateutil==2.6.0
python-docx==0.8.6
pytz==2017.2
requests==2.17.3
rules==1.1.1  # *** confirm it's installed ***
scandir==1.5
selenium==2.53.6
simplegeneric==0.8.1
six==1.10.0
Sphinx==1.2.3
sphinxcontrib-napoleon==0.6.0
sqlparse==0.2.3
traitlets==4.3.2
urllib3==1.21.1
vmprof==0.3.5
wcwidth==0.1.7
