<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>King Abdulaziz Medical City Seats</h1>
</section>

<!-- Main content -->
<section class="content">
  <script type="text/ng-template" id="department-month-setting-tooltip.html">
    <h4>{{ department.name }} ({{ getMomentFromMonthId(month).format("MMMM YYYY") }})</h4>
    <dl style="text-align: left;">
      <dt><i class="fa fa-users"></i> Total Seats</dt>
      <dd>{{ getTotalSeats(department, month) }}</dd>

      <dt><i class="fa fa-users"></i> Occupied Seats</dt>
      <dd>{{ getOccupiedSeats(department, month) }}</dd>

      <dt><i class="fa fa-users"></i> Unoccupied Seats</dt>
      <dd>{{ getUnoccupiedSeats(department, month) }}</dd>

      <dt><i class="fa fa-users"></i> Booked Seats</dt>
      <dd>{{ getBookedSeats(department, month) }}</dd>
    </dl>
  </script>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h4 class="box-title">Seat Count By Department and Month for {{ displayYear }}</h4>
          <div class="box-tools">
            <div class="btn-group btn-group-sm">
              <a class="btn btn-sm btn-primary" ng-click="loadPreviousYear()">
                <i class="fa fa-angle-double-left"></i>
                Show {{ displayYear - 1}}
              </a>
              <a class="btn btn-sm btn-primary" ng-click="loadNextYear()">
                Show {{ displayYear + 1 }}
                <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped table-condensed">
            <thead>
              <th>Department</th>
              <th ng-repeat="label in monthLabels">{{ label }}</th>
            </thead>
            <tbody>
              <tr ng-repeat="department in departments">
                <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  {{ department.name }}
                </td>
                <td ng-repeat="month in months" style="width: 75px;">
                  <div uib-tooltip-template="'department-month-setting-tooltip.html'">
                    <div class="text-gray">
                      <i class="fa fa-users"></i> {{ getTotalSeats(department, month) }}
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</section>