<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Internship Planner</h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-solid">
        <div class="box-header">
          <h4 class="box-title">All interns</h4>
        </div>
        <div class="box-body">

          <table datatable="" class="table" dt-options="dtOptions" dt-columns="dtColumns" style="width: 100%"></table>

        </div>
      </div>

    </div>
  </div>
</section>