<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Interns</h1>
</section>

<style type="text/css">
  .modal-animate {
    animation: fadeInRight 1s;
  }
</style>

<!-- Main content -->
<section class="content">
  <div class="example-modal">
    <div class="modal modal-animate">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title">{{ internship.intern.profile.en_full_name }}</h3>
          </div>

          <div class="modal-body">
            <h4 class="text-bold">Intern details</h4>

            <img src="/static/loading.gif" height="30" ng-hide="internship.$promise.$$state.status == 1" />

            <p ng-show="internship.$promise.$$state.status == 1">Below are the details of {{ internship.intern.profile.en_full_name }}.</p>

            <div ng-show="internship.$promise.$$state.status == 1" class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="box box-widget widget-user-2">
                  <div class="widget-user-header bg-blue-active">
                    <div class="widget-user-image">
                      <img class="img-circle img-md" ng-src="{{ internship.intern.profile.mugshot }}" alt="User Mugshot">
                    </div><!-- /.widget-user-image -->
                    <h3 class="widget-user-username">
                      {{ internship.intern.profile.en_full_name }}
                      ({{ internship.intern.profile.ar_full_name }})
                    </h3>
                    <h5 class="widget-user-desc">{{ internship.intern.profile.role }}</h5>
                  </div>
                  <div class="box-footer no-padding">
                    <ul class="nav nav-stacked bg-info">
                      <li><a href=""><span class="text-bold">Student Number</span> <span class="pull-right">{{ internship.intern.student_number }}</span></a></li>
                      <li><a href=""><span class="text-bold">Badge Number</span> <span class="pull-right">{{ internship.intern.badge_number }}</span></a></li>
                      <li><a href=""><span class="text-bold">Saudi ID Number</span> <span class="pull-right">{{ internship.intern.saudi_id_number }}</span></a></li>
                      <li><a href="{{ internship.intern.saudi_id }}">
                        <span class="text-bold">Saudi ID Image</span>
                        <span class="pull-right text-bold text-blue" ng-if="internship.intern.saudi_id">Click to view</span>
                      </a></li>

                      <li ng-if="internship.intern.has_passport == true"><a href=""><span class="text-bold">Passport Number</span> <span class="pull-right">{{ internship.intern.passport_number }}</span></a></li>
                      <li ng-if="internship.intern.has_passport == true"><a href="{{ internship.intern.passport }}">
                        <span class="text-bold">Passport</span>
                        <span class="pull-right text-bold text-blue" ng-if="internship.intern.passport">Click to view</span>
                      </a></li>


                      <li ng-if="internship.intern.has_passport == false"><a href="{{ internship.intern.passport_attachment }}">
                        <span class="text-bold">No passport form</span>
                        <span class="pull-right text-bold text-blue" ng-if="internship.intern.passport_attachment">Click to view</span>
                      </a></li>


                      <li><a href=""><span class="text-bold">Medical Record Number</span> <span class="pull-right">{{ internship.intern.medical_record_number }}</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="internship.$promise.$$state.status == 1" class="row">
              <div class="col-md-6">
                <div class="box box-solid">
                  <div class="box-header bg-olive">
                    <h4 class="box-title">
                      Intern contact info
                    </h4>
                  </div>

                  <div class="box-footer no-padding">
                    <ul class="nav nav-stacked bg-success">
                      <li><a href=""><span class="text-bold">Email</span> <span class="pull-right">{{ internship.intern.profile.user.email }}</span></a></li>
                      <li><a href=""><span class="text-bold">Alt. Email</span> <span class="pull-right">{{ internship.intern.alt_email }}</span></a></li>
                      <li><a href=""><span class="text-bold">Phone Number</span> <span class="pull-right">{{ internship.intern.phone_number}}</span></a></li>
                      <li><a href=""><span class="text-bold">Mobile Number</span> <span class="pull-right">{{ internship.intern.mobile_number}}</span></a></li>
                      <li><a href=""><span class="text-bold">Address</span> <span class="pull-right" style="white-space: pre;">{{ internship.intern.address }}</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="box box-solid">
                  <div class="box-header bg-orange">
                    <h4 class="box-title">
                      Contact person info
                    </h4>
                  </div>

                  <div class="box-footer no-padding">
                    <ul class="nav nav-stacked bg-warning">
                      <li><a href=""><span class="text-bold">Name</span> <span class="pull-right">{{ internship.intern.contact_person_name }}</span></a></li>
                      <li><a href=""><span class="text-bold">Relation</span> <span class="pull-right">{{ internship.intern.contact_person_relation }}</span></a></li>
                      <li><a href=""><span class="text-bold">Email</span> <span class="pull-right">{{ internship.intern.contact_person_email }}</span></a></li>
                      <li><a href=""><span class="text-bold">Mobile</span> <span class="pull-right">{{ internship.intern.contact_person_mobile }}</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <h4 class="text-bold">Current internship plan</h4>

            <img src="/static/loading.gif" height="30" ng-hide="internship.months.$promise.$$state.status == 1" />

            <p ng-show="internship.months.$promise.$$state.status == 1">
              This is a snapshot of {{ internship.intern.profile.en_full_name }}'s current internship plan.
              Each box represents a specific month. Changes in <span class="text-yellow">orange</span> or
              <span class="text-red">red</span> color are pending review.
            </p>

            <!-- Check out: -->
            <!-- http://stackoverflow.com/a/25838091 -->
            <div  style="background-color: #ecf0f5; border-radius: 3px; padding: 5px;" ng-show="internship.months.$promise.$$state.status == 1">
              <div id="internship-plan-grid" class="row" ng-repeat="month in internship.months track by $index" ng-if="$index % 5 == 0">
                <div class="col-md-2 internship-plan-box" ng-class="{'col-md-offset-1': $index % 5 == 0}" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]">
                  <div class="box box-primary">
                    <div class="box-header with-border">
                      <h7 class="box-title">{{ months[i].label_short }}</h7>
                    </div>
                    <div class="box-body">
                      <div ng-if="!months[i].requested && !months[i].occupied">
                        <h5 class="text-gray text-center"><i>No rotation</i></h5>
                      </div>

                      <div ng-if="months[i].requested && !months[i].occupied">
                        <h4 class="text-yellow text-center">{{ months[i].current_request.specialty.abbreviation }}</h4>
                        <h5 class="text-center">{{ months[i].current_request.requested_department.department.hospital.abbreviation}}</h5>
                      </div>

                      <div ng-if="!months[i].requested && months[i].occupied">
                        <h4 class="text-blue text-center">{{ months[i].current_rotation.specialty.abbreviation }}</h4>
                        <h5 class="text-center">{{ months[i].current_rotation.department.hospital.abbreviation}}</h5>
                      </div>

                      <div ng-if="months[i].requested && months[i].occupied">
                        <h5 class="text-center">
                          <span class="text-blue">{{ months[i].current_rotation.specialty.abbreviation }}</span>
                          @
                          {{ months[i].current_rotation.department.hospital.abbreviation }}
                        </h5>
                        <hr style="margin-top: 2px; margin-bottom: 2px;">
                        <h5 class="text-center" ng-if="!months[i].current_request.is_delete">
                          <span class="text-yellow">{{ months[i].current_request.specialty.abbreviation }}</span>
                          @
                          {{ months[i].current_request.requested_department.department.hospital.abbreviation }}
                        </h5>
                        <h5 class="text-center" ng-if="months[i].current_request.is_delete">
                          <span class="text-red">To cancel</span>
                        </h5>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <hr>

            <h4 class="text-bold">Open requests</h4>

            <img src="/static/loading.gif" height="30" ng-hide="internship.rotation_requests.$promise.$$state.status == 1" />

            <div ng-show="internship.rotation_requests.$promise.$$state.status == 1">
              <h5 class="text-bold">Unreviewed</h5>
              <p ng-if="internship.unreviewed_rotation_requests.length > 0">
                Below is the list of {{ internship.intern.profile.en_first_name }}'s requests that await your response.
              </p>
              <!--<rotation-request-card-->
                      <!--rotation-request="request"-->
                      <!--on-response="moveToPastRequests(request)"-->
                      <!--on-forward="moveToForwardedRequests(request)"-->
                      <!--ng-repeat="request in internship.unreviewed_rotation_requests"></rotation-request-card>-->
              <uib-accordion>
                <div uib-accordion-group template-url="accordion-template.html"
                     ng-repeat="request in internship.unreviewed_rotation_requests | orderBy: 'id'" class="panel-warning }}">
                  <uib-accordion-heading>
                    <img ng-hide="request.$promise.$$state.status == 1" src="/static/loading.gif" height="20px" />
                    <span class="text-warning">#{{ request.id }} - <span class="text-bold">Unreviewed</span> |
                      <span ng-if="request.is_delete == false">{{ request.specialty.abbreviation }} @ {{ request.requested_department.department.hospital.abbreviation }}</span>
                      <span ng-if="request.is_delete == true">Cancellation</span>
                      (<i>for</i> {{ request.month.label }})</span>
                  </uib-accordion-heading>

                  <dl class="dl-horizontal">
                    <dt>Request #</dt>
                    <dd>{{ request.id }}</dd>

                    <dt>Month</dt>
                    <dd>{{ request.month.label }}</dd>

                    <div ng-if="!request.is_delete">
                      <dt>Specialty</dt>
                      <dd class="text-bold text-yellow">{{ request.specialty.name }}</dd>

                      <dt>Hospital</dt>
                      <dd class="text-bold text-yellow">{{ request.requested_department.department.hospital.name }}</dd>

                      <dt>Elective?</dt>
                      <dd>
                        <span ng-if="request.is_elective == true" class="text-bold text-yellow">
                          Yes
                        </span>
                        <span ng-if="request.is_elective == false">No</span>
                      </dd>
                    </div>
                    <div ng-if="request.is_delete">
                      <dt>Description</dt>
                      <dd class="text-bold text-red">Cancellation of rotation</dd>
                    </div>

                    <dt style="width: inherit;">Submission date and time</dt>
                    <dd>{{ request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                  </dl>
                </div>
              </uib-accordion>

              <p ng-if="internship.unreviewed_rotation_requests.length == 0">
                {{ internship.intern.profile.en_full_name }} doesn't have any unreviewed requests currently.
              </p>

              <h5 class="text-bold">Forwarded</h5>
              <p ng-if="internship.forwarded_rotation_requests.length > 0">
                These requests have been forwarded and await the respective departments' response.
              </p>
              <p ng-if="internship.forwarded_rotation_requests.length == 0">
                {{ internship.intern.profile.en_full_name }} doesn't have any forwarded requests currently.
              </p>

              <uib-accordion>
                <div uib-accordion-group template-url="accordion-template.html"
                     ng-repeat="request in internship.forwarded_rotation_requests" class="panel-info">
                  <uib-accordion-heading>
                    <img ng-hide="request.$promise.$$state.status == 1" src="/static/loading.gif" height="20px" />
                    <span class="text-light-blue">#{{ request.id }} - <span class="text-bold">{{ getStatus(request) }}</span> |
                      <span ng-if="request.is_delete == false">{{ request.specialty.abbreviation }} @ {{ request.requested_department.department.hospital.abbreviation }}</span>
                      <span ng-if="request.is_delete == true">Cancellation</span>
                      (<i>for</i> {{ request.month.label }})</span>
                  </uib-accordion-heading>

                  <dl class="dl-horizontal">
                    <dt>Request #</dt>
                    <dd>{{ request.id }}</dd>

                    <dt>Month</dt>
                    <dd>{{ request.month.label }}</dd>

                    <div ng-if="!request.is_delete">
                      <dt>Specialty</dt>
                      <dd class="text-bold text-light-blue">{{ request.specialty.name }}</dd>

                      <dt>Hospital</dt>
                      <dd class="text-bold text-light-blue">{{ request.requested_department.department.hospital.name }}</dd>

                      <dt>Elective?</dt>
                      <dd>
                        <span ng-if="request.is_elective == true" class="text-bold text-light-blue">
                          Yes
                        </span>
                        <span ng-if="request.is_elective == false">No</span>
                      </dd>
                    </div>
                    <div ng-if="request.is_delete">
                      <dt>Description</dt>
                      <dd class="text-bold text-red">Cancellation of rotation</dd>
                    </div>

                    <dt style="width: inherit;">Submission date and time</dt>
                    <dd>{{ request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                  </dl>

                  <div class="box box-solid" style="margin-bottom: 0;">
                    <div class="box-body bg-info">

                      <dl class="dl-horizontal" style="margin-bottom: 0;">
                        <dt>Forward date and time</dt>
                        <dd>{{ request.forward.forward_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                        <dt>Download memo</dt>
                        <dd>
                          <a href="/api/rotation_request_forwards/{{ request.forward.id }}/memo_docx/" class="btn btn-xs btn-primary">As Microsoft Word</a>
                          <a href="/api/rotation_request_forwards/{{ request.forward.id }}/memo_pdf/" class="btn btn-xs btn-danger disabled">As PDF <span class="badge bg-yellow">Soon</span></a>
                        </dd>
                      </dl>

                    </div>
                  </div>

                  <div>
                  <br>

                    <div class="box box-solid" style="margin-bottom: 0;">
                      <div class="box-body bg-warning" ng-if="request.requested_department.department.memo_handed_by_intern == false">

                        <p>Please record response below once received from the requested department.</p>

                        <dl class="dl-horizontal">
                          <dt>Response</dt>
                          <dd>
                            <div class="checkbox-inline">
                              <label>
                                <input type="radio" name="isApproved" value="1" ng-model="response['isApproved' + request.id]" /> <span class="text-green"> Approved</span>
                              </label>
                            </div>

                            <div class="checkbox-inline">
                              <label>
                                <input type="radio" name="isApproved" value="0" ng-model="response['isApproved' + request.id]" /> <span class="text-red">Declined</span>
                              </label>
                            </div>
                          </dd>

                          <dt>Comments</dt>
                          <dd>
                            <textarea class="form-control" rows="1" placeholder="Optional" ng-model="response['comments' + request.id]"></textarea>
                          </dd>
                        </dl>

                        <button class="btn btn-xs btn-warning btn-flat pull-right"
                                ng-click="respond(request, response['isApproved' + request.id], response['comments' + request.id])">
                          Submit
                        </button>

                      </div>

                      <div class="box-body bg-warning" ng-if="request.requested_department.department.memo_handed_by_intern == true">
                        <p>Response by the requested department, once received, will be recorded by the intern.</p>
                      </div>
                    </div>
                  </div>

                </div>
              </uib-accordion>

            </div>

            <hr>

            <h4 class="text-bold">
              Previous requests
              <span class="pull-right" ng-show="internship.rotation_requests.$promise.$$state.status == 1">
                <small><i>Filter by month:</i></small>
                <select ng-model="monthFilter">
                  <option value="">All</option>
                  <option ng-repeat="month in internship.months" value="{{ month.month }}">{{ month.label }}</option>
                </select>
              </span>
            </h4>

            <img src="/static/loading.gif" height="30" ng-hide="internship.rotation_requests.$promise.$$state.status == 1" />

            <p ng-show="internship.rotation_requests.$promise.$$state.status == 1">Following are the full details of all previous requests made by this intern. You can use the filter
            above to show requests for a specific month.</p>

            <script type="text/ng-template" id="accordion-template.html">
              <div class="panel">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                      <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                        {{ heading }}
                      </span>
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                  <div class="panel-body" ng-transclude></div>
                </div>
              </div>
            </script>

            <uib-accordion>
              <div uib-accordion-group template-url="accordion-template.html"
                   ng-repeat="request in internship.closed_rotation_requests | orderBy: 'id' | filter: monthFilter" class="panel-{{ getClass(request) }}">
                <uib-accordion-heading>
                  <img ng-hide="request.$promise.$$state.status == 1" src="/static/loading.gif" height="20px" />
                  <span class="text-{{ getClass(request) }}">#{{ request.id }} - <span class="text-bold">{{ getStatus(request) }}</span> |
                    <span ng-if="request.is_delete == false">{{ request.specialty.abbreviation }} @ {{ request.requested_department.department.hospital.abbreviation }}</span>
                    <span ng-if="request.is_delete == true">Cancellation</span>
                    (<i>for</i> {{ request.month.label }})</span>
                </uib-accordion-heading>

                <dl class="dl-horizontal">
                  <dt>Request #</dt>
                  <dd>{{ request.id }}</dd>

                  <dt>Month</dt>
                  <dd>{{ request.month.label }}</dd>

                  <div ng-if="!request.is_delete">
                    <dt>Specialty</dt>
                    <dd class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">{{ request.specialty.name }}</dd>

                    <dt>Hospital</dt>
                    <dd class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">{{ request.requested_department.department.hospital.name }}</dd>

                    <dt>Elective?</dt>
                    <dd>
                      <span ng-if="request.is_elective == true" class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">
                        Yes
                      </span>
                      <span ng-if="request.is_elective == false">No</span>
                    </dd>
                  </div>
                  <div ng-if="request.is_delete">
                    <dt>Description</dt>
                    <dd class="text-bold text-red">Cancellation of rotation</dd>
                  </div>

                  <dt style="width: inherit;">Submission date and time</dt>
                  <dd>{{ request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                </dl>

                <div class="box box-solid" ng-if="!!request.forward">
                  <div class="box-body bg-warning">
                    <dl class="dl-horizontal" style="margin-bottom: 0;">
                      <dt>Forward date and time</dt>
                      <dd>{{ request.forward.forward_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                      <dt>Forward memo</dt>
                      <dd>
                        <a href="/api/rotation_request_forwards/{{ request.forward.id }}/memo_docx/" class="btn btn-xs btn-primary">As Microsoft Word</a>
                        <a href="/api/rotation_request_forwards/{{ request.forward.id }}/memo_pdf/" class="btn btn-xs btn-danger disabled">As PDF <span class="badge bg-yellow">Soon</span></a>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div class="box box-solid" style="margin-bottom: 0;">
                  <div class="box-body" ng-class="{'bg-success': request.response.is_approved, 'bg-danger': request.response.is_approved == false}">

                    <dl class="dl-horizontal" style="margin-bottom: 0;">
                      <dt>Response</dt>
                      <dd>
                        <span class="text-bold" ng-class="{'text-green': request.response.is_approved, 'text-red': request.response.is_approved == false}">
                          <span ng-if="request.response.is_approved">Approved</span>
                          <span ng-if="request.response.is_approved == false">Declined</span>
                        </span>
                      </dd>

                      <dt>Response date and time</dt>
                      <dd>{{ request.response.response_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                      <dt>Comments</dt>
                      <dd>
                        <div class="box box-solid box-default" style="margin-bottom: 0;"
                             ng-if="request.response.comments">
                          <div class="box-body bg-gray-light">
                            <p style="white-space: pre;">{{ request.response.comments }}</p>
                          </div>
                        </div>
                        <span ng-if="!request.response.comments">No comment was provided.</span>
                      </dd>
                    </dl>

                  </div>
                </div>

              </div>
            </uib-accordion>

            <p ng-if="internship.closed_rotation_requests.length == 0">
              {{ internship.intern.profile.en_full_name }} doesn't have any previous requests.
            </p>

          </div><!-- /.modal-body -->

          <div class="modal-footer">
            <a class="btn btn-default pull-left" href="javascript:history.back()">
              Back
            </a>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  </div>
</section>