<div class="example-modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">{{ month.label }}</h3>
        </div>

        <div class="modal-body">
          <h4 class="text-bold">Summary</h4>
          <p>
            <span ng-if="month.occupied">
              During this month, you have a rotation of {{ month.current_rotation.department.specialty.name }} <span ng-if="month.current_rotation.is_elective">(elective)</span>
              in {{ month.current_rotation.department.hospital.name }}.
            </span>
            <span ng-if="month.requested">
              <br ng-if="month.occupied">
              You <span ng-if="month.occupied">also </span>have a pending request

              <span ng-if="!month.current_rotation_request.is_delete">
                for a rotation of
                <span class="text-yellow">{{ month.current_rotation_request.specialty.name }}
                  <span ng-if="month.current_rotation_request.is_elective">(elective)</span>
                </span> in
                <span class="text-yellow">{{ month.current_rotation_request.requested_department.department.hospital.name }}</span>
              </span>
              <span ng-if="month.current_rotation_request.is_delete">
                to <span class="text-red">cancel your rotation</span>
              </span>
              .
            </span>
            <span ng-if="!month.occupied && !month.requested">
              You don't have any active rotation or pending request for this month.
            </span>
            <!-- TODO: add leaves & leave requests summary -->
          </p>

          <div ng-if="month.occupied">
            <hr>
            <h4 class="text-bold">Details of your rotation</h4>

            <div class="box box-solid">
              <div class="box-body bg-info">
                <dl class="dl-horizontal">
                  <dt>Specialty</dt>
                  <dd class="text-bold text-blue">{{ month.current_rotation.department.specialty.name }}</dd>

                  <dt>Hospital</dt>
                  <dd class="text-bold text-blue">{{ month.current_rotation.department.hospital.name }}</dd>

                  <dt>Elective?</dt>
                  <dd>
                    <span ng-if="month.current_rotation.is_elective == true" class="text-blue text-bold">Yes</span>
                    <span ng-if="month.current_rotation.is_elective == false">No</span>
                  </dd>

                  <dt>Request date and time</dt>
                  <dd>{{ month.current_rotation.rotation_request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                  <dt>Approval date and time</dt>
                  <dd>{{ month.current_rotation.rotation_request.response.response_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd><!-- FIXME: Account for forward responses as well -->
                </dl>
              </div>
            </div>
          </div>

          <div ng-if="month.requested">
            <hr>
            <h4 class="text-bold" ng-class="{'text-yellow': !month.current_rotation_request.is_delete, 'text-red': month.current_rotation_request.is_delete}">
              Details of your pending request</h4>

            <p>
              Below is a detailed breakdown of information about your request<span ng-if="month.current_rotation_request.is_delete">.</span>
              <span ng-if="!month.current_rotation_request.is_delete"> , as well as the
              department you'll be rotating in once it's approved.</span>
            </p>

            <div class="box box-solid">
              <div class="box-body" ng-class="{'bg-warning': !month.current_rotation_request.is_delete, 'bg-danger': month.current_rotation_request.is_delete}" style="margin-bottom: 0;">
                <dl class="dl-horizontal">
                  <div ng-if="!month.current_rotation_request.is_delete">
                    <dt>Specialty</dt>
                    <dd class="text-yellow text-bold">{{ month.current_rotation_request.specialty.name }}</dd>

                    <dt>Hospital</dt>
                    <dd class="text-yellow text-bold">{{ month.current_rotation_request.requested_department.department.hospital.name }}</dd>

                    <dt>Elective?</dt>
                    <dd>
                      <span ng-if="month.current_rotation_request.is_elective == true" class="text-yellow text-bold">Yes</span>
                      <span ng-if="month.current_rotation_request.is_elective == false">No</span>
                    </dd>
                  </div>

                  <div ng-if="month.current_rotation_request.is_delete">
                    <dt>Description</dt>
                    <dd>You have requested a <span class="text-red text-bold">cancellation of your rotation</span> during this month.</dd>
                    <hr>
                  </div>

                  <dt style="width: inherit;">Submission date and time</dt>
                  <dd>{{ month.current_rotation_request.submission_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                </dl>


                <div class="box box-solid" style="margin-bottom: 0;" ng-if="!month.current_rotation_request.is_delete">
                  <div class="box-header bg-light-blue">
                    <h5 class="text-bold" style="margin-top: 0; margin-bottom: 0;">
                      Details of the department you'll be rotating in
                    </h5>
                  </div>
                  <div class="box-body bg-info">
                    <dl class="dl-horizontal" style="margin-bottom: 0;">
                      <dt>Name of department</dt>
                      <dd>{{ month.current_rotation_request.requested_department.department.name }}</dd>

                      <dt>Name of contact person</dt>
                      <dd>
                        {{ month.current_rotation_request.requested_department.department.contact_name }},
                        {{ month.current_rotation_request.requested_department.department.contact_position }}
                      </dd>

                      <dt>Email</dt>
                      <dd>{{ month.current_rotation_request.requested_department.department.email }}</dd>

                      <dt>Phone</dt>
                      <dd>{{ month.current_rotation_request.requested_department.department.phone }}</dd>

                      <dt>Extension</dt>
                      <dd>{{ month.current_rotation_request.requested_department.department.extension }}</dd>
                    </dl>

                  </div>
                </div>

                <div class="box box-solid" style="margin-top: 10px; margin-bottom: 0;" ng-if="!!month.current_rotation_request.forward">
                  <div class="box-header bg-green">
                    <h5 class="text-bold" style="margin-top: 0; margin-bottom: 0;">
                      Details of your request's forward
                    </h5>
                  </div>
                  <div class="box-body bg-success">
                    <dl class="dl-horizontal" style="margin-bottom: 0;">
                      <p ng-if="month.current_rotation_request.requested_department.department.memo_handed_by_intern == false">
                        Your request has been forwarded by the medical internship unit to the requested department.
                      </p>
                      <p ng-if="month.current_rotation_request.requested_department.department.memo_handed_by_intern == true">
                        Please hand the attached memo to the requested hospital, and record the response below once received.
                      </p>

                      <dt>Forward date and time</dt>
                      <dd>{{ month.current_rotation_request.forward.forward_datetime.format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                      <div ng-if="month.current_rotation_request.requested_department.department.memo_handed_by_intern == true">
                        <dt>Download memo</dt>
                        <dd>
                          <a href="{{ month.current_rotation_request.forward.memo_file }}" class="btn btn-xs btn-danger">As PDF</a>
                          <!--<i>(last updated: {{ rotation_request.forward.last_updated.format('dddd, D MMMM YYYY, hh:mm a') }} )</i>-->
                        </dd>
                      </div>
                    </dl>

                  </div>
                </div>

                <div class="box box-solid" style="margin-top: 10px; margin-bottom: 0;" ng-if="!!month.current_rotation_request.forward && month.current_rotation_request.requested_department.department.memo_handed_by_intern == true">
                  <div class="box-header bg-aqua">
                    <h5 class="text-bold" style="margin-top: 0; margin-bottom: 0;">
                      Department Response
                    </h5>
                  </div>
                  <div class="box-body bg-info">
                    <dl class="dl-horizontal">
                      <p>Please record the response of the department here once you receive it.</p>

                      <dt>Response</dt>
                      <dd>
                        <div class="checkbox-inline">
                          <label>
                            <input type="radio" name="isApproved" value="1" ng-model="response.is_approved" /> <span class="text-green"> Approved</span>
                          </label>
                        </div>

                        <div class="checkbox-inline">
                          <label>
                            <input type="radio" name="isApproved" value="0" ng-model="response.is_approved" /> <span class="text-red">Declined</span>
                          </label>
                        </div>
                      </dd>

                      <dt>Comments</dt>
                      <dd>
                        <textarea class="form-control" rows="1" placeholder="Optional" ng-model="response.comments"></textarea>
                      </dd>

                    </dl>

                    <button class="btn btn-block btn-flat btn-primary"
                            ng-click="record_response(response.is_approved, response.comments)">
                      Submit
                    </button>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Leaves -->
          <!--<div ng-if="month.current_leaves.length > 0 || month.current_leave_requests.length > 0">
            <hr>
            <h4 class="text-bold">Details of your leaves</h4>

            <div ng-if="month.current_leaves.length > 0">
              <h4 class="text-light-blue"><i class="fa fa-check-circle-o"></i> Active leaves ({{ month.current_leaves.length }})</h4>

              <div class="box box-solid" ng-repeat="leave in month.current_leaves">
                <div class="box-body bg-info" style="margin-bottom: 0;">
                  <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd class="text-light-blue text-bold">{{ leave.type.name }}</dd>

                    <dt>Start date</dt>
                    <dd>{{ moment(leave.start_date).format('Do of MMMM') }}</dd>

                    <dt>End date</dt>
                    <dd>{{ moment(leave.end_date).format('Do of MMMM') }}</dd>

                    <dt>Request date and time</dt>
                    <dd>{{ moment(leave.request.submission_datetime).format('dddd, D MMMM YYYY, hh:mm a') }}</dd>

                    <dt>Approval date and time</dt>
                    <dd>{{ moment(leave.request.response.response_datetime).format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                  </dl>
                  <a class="btn btn-xs btn-flat btn-danger pull-right" href="#/planner/{{ month.month }}/leaves/{{ leave.id }}/cancel/">Cancel this leave</a>
                </div>
              </div>
            </div>

            <h4 class="text-yellow"><i class="fa fa-clock-o"></i> Pending leaves ({{ month.current_leave_requests.length }})</h4>

            <div class="box box-solid" ng-repeat="leave_request in month.current_leave_requests">
                <div class="box-body bg-warning" style="margin-bottom: 0;">
                  <dl class="dl-horizontal">
                    <dt>Type</dt>
                    <dd class="text-yellow text-bold">{{ leave_request.type.name }}</dd>

                    <dt>Start date</dt>
                    <dd>{{ moment(leave_request.start_date).format('Do of MMMM') }}</dd>

                    <dt>End date</dt>
                    <dd>{{ moment(leave_request.end_date).format('Do of MMMM') }}</dd>

                    <dt>Request date and time</dt>
                    <dd>{{ moment(leave_request.submission_datetime).format('dddd, D MMMM YYYY, hh:mm a') }}</dd>
                  </dl>
                </div>
              </div>
            </div>-->

        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <a class="btn btn-default pull-left" href="#/planner/">
            Back to Planner
          </a>
          
          <div class="action-buttons">
            <div ng-if="month.disabled" class="text-gray">
              <!-- **** (1) Disabled ***** -->
              <!-- Nothing basically -->
            </div>
  
            <div ng-if="month.empty">
              <!-- ***** (2) Empty ****** -->
  
              <div ng-if="!month.has_rotation_request && !month.has_freeze_request">
                <!-- A) "Purely" empty  -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'req-rota', 'req-freeze']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_rotation_request">
                <!-- B) With a rotation request  -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-rota-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_freeze_request">
                <!-- C) With a freeze request  -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-freeze-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
            </div>
  
            <div ng-if="month.frozen">
              <!-- ***** (3) Frozen ****** -->
  
              <div ng-if="!month.has_freeze_cancel_request && !month.has_rotation_request">
                <!-- A) "Purely" frozen -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'req-freeze-cancel']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_freeze_cancel_request">
                <!-- B) With a freeze cancellation request -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-freeze-cancel-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_rotation_request">
                <!-- C) With a rotation request -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-rota-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
            </div>
  
            <div ng-if="month.occupied">
              <!-- ***** (4) Occupied ****** -->
  
              <div ng-if="!month.has_rotation_request && !month.has_rotation_cancel_request && !month.has_freeze_request">
                <!-- A) Purely occupied -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'req-rota-change', 'req-rota-cancel']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_rotation_request">
                <!-- B) With rotation request -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-rota-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_rotation_cancel_request">
                <!-- C) With rotation cancel request -->
                <box-action-buttons params="{month_id: month.month}" buttons="['history', 'delete-rota-cancel-req']" dropup="true" size="'lg'"></box-action-buttons>
              </div>
  
              <div ng-if="month.has_freeze_request">
                <!-- D) With freeze request -->
                <!-- To be implemented -->
              </div>
  
            </div>
          </div>

        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>

