<section class="content-header">
  <h1>
    Internship Planner
  </h1>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>Welcome to the Internship Planner!</b></h5>
        </div>
        <div class="box-body">

          Each of the boxes below represents a month in which you can have a clinical rotation.
          You can make new requests and view the status of your current and previous ones.
          Each request you make is submitted to the medical internship unit for review and approval.<br>
          <span class="text-blue">Click on <span class="text-bold">Request a Rotation</span> for any of the months below and make your first request!</span>

          <span ng-if="internship.intern.is_ksauhs_intern || internship.intern.is_agu_intern">
            <br><br>
            Keep in mind that you have to satisfy the requirement of 2 months in each of <span class="text-bold">Internal Medicine, Surgery,
            Obstetrics and Gynecology, and Pediatrics</span>, having one general month at least in each specialty. In addition,
            you have 1 required month in <span class="text-bold">Emergency Medicine</span> and another in
            <span class="text-bold">Family Medicine</span>, plus 2 months of electives.
          </span>


        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">

  <style type="text/css">
    @media (min-width: 992px) {
      div#grid-container {
        margin-right: -110px;
        margin-left: -110px;
      }
    }

    .internship-month-col.ng-enter {
      animation: flipInY 1000ms;
    }
    .internship-month-col.ng-enter-stagger {
      animation-delay: 200ms;
    }

    .loading-spinner.ng-hide-add {
      animation: fadeOut 500ms;
    }
  </style>

  <div id="grid-container">

      <!-- Check out: -->
      <!-- http://stackoverflow.com/a/25838091 -->
      <div class="row" ng-repeat="month in internship.months track by $index" ng-if="$index % 5 == 0" ng-animate-children>

        <div class="col-md-2 internship-month-col" ng-class="{'col-md-offset-1': $index % 5 == 0}" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]">

          <internship-month-box internship-month="internship.months[i]"></internship-month-box>

        </div>
      </div>
  </div>

  <div class="loading-spinner" ng-hide="internship.$promise.$$state.status !== 0" style="height: 150px;">
    <img src="/static/loading.gif" height="50" style="position: absolute; top: 50%; left: 50%; margin-left: -15px; margin-top: -15px;" />
  </div>

</section>

<script type="text/ng-template" id="leave-summary-popover.html">
  <div class="text-sm" ng-if="months[i].current_leaves.length > 0">
    <h5 class="text-bold text-light-blue"><i class="fa fa-check-circle-o"></i> Active</h5>
    <ul style="padding-left: 20px;">
      <li ng-repeat="leave in months[i].current_leaves">
        <span class="text-bold">{{ leave.type.name }}</span>
        from {{ moment(leave.start_date).format('Do of MMMM') }} to {{ moment(leave.end_date).format('Do of MMMM') }}
      </li>
    </ul>
  </div>

  <hr style="margin-top: 5px; margin-bottom: 5px;"
    ng-if="months[i].current_leaves.length > 0 && months[i].current_leave_requests.length > 0">

  <div class="text-sm" ng-if="months[i].current_leave_requests.length > 0">
    <h5 class="text-bold text-yellow"><i class="fa fa-clock-o"></i> Pending</h5>
    <ul style="padding-left: 20px;">
      <li ng-repeat="leave_request in months[i].current_leave_requests">
        <span class="text-bold">{{ leave_request.type.name }}</span>
        from {{ moment(leave_request.start_date).format('Do of MMMM') }} to {{ moment(leave_request.end_date).format('Do of MMMM') }}
      </li>
    </ul>
  </div>

  <hr style="margin-top: 5px; margin-bottom: 5px;">

  <p class="text-gray" style="font-size: 0.8em;"><i>Click "Get more info" below to view the full details about your leaves.</i></p>
</script>