<div class="example-modal">
  <div class="modal">
    <div class="modal-dialog">
      <form name="{{ form.form_name }}" novalidate>
        <div class="modal-content">

          {% verbatim %}
          <div class="modal-header">

            <h3 class="modal-title">Request a leave during {{ month.label }}</h3>

          </div>

          <div class="modal-body">

            <p>Please select the leave type and the start and end dates of your requested leave.</p>

            <div class="has-feedback form-group">
              <label class="control-label" for="id_type">Type</label>

              <ui-select id="id_type" name="type" ng-model="leaveRequestData.type" theme="bootstrap">
                <ui-select-match placeholder="Select or search for a leave type in the list...">{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="type.id as type in leaveTypes | filter: {name: $select.search}">
                  <div ng-bind-html="type.name | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>

              <ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.type.$dirty" ng-cloak><li ng-show="leaveRequestForm['type'].$error.required" class="invalid">This field is required.</li><li ng-show="leaveRequestForm['type'].$valid" class="valid"></li></ul><ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.type.$pristine" ng-cloak><li ng-show="leaveRequestForm.type.$message" class="invalid" ng-bind="leaveRequestForm.type.$message"></li></ul>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="has-feedback form-group">
                  <label class="control-label" for="id_start_date">Start date</label>
                  <input class="form-control" id="id_start_date" name="start_date" ng-model="leaveRequestData[&#39;start_date&#39;]" ng-required="true" type="hidden" />
                  <div uib-datepicker ng-model="leaveRequestData.start_date_as_date" datepicker-options="startDateOptions"></div>
                  <ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.start_date.$dirty" ng-cloak><li ng-show="leaveRequestForm['start_date'].$error.required" class="invalid">This field is required.</li><li ng-show="leaveRequestForm['start_date'].$error.date" class="invalid">Enter a valid date.</li><li ng-show="leaveRequestForm['start_date'].$valid" class="valid"></li></ul><ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.start_date.$pristine" ng-cloak><li ng-show="leaveRequestForm.start_date.$message" class="invalid" ng-bind="leaveRequestForm.start_date.$message"></li></ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="has-feedback form-group">
                  <label class="control-label" for="id_end_date">End date</label>
                  <input class="form-control" id="id_end_date" name="end_date" ng-model="leaveRequestData[&#39;end_date&#39;]" ng-required="true" type="hidden" />
                  <div uib-datepicker ng-model="leaveRequestData.end_date_as_date" datepicker-options="endDateOptions"></div>
                  <ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.end_date.$dirty" ng-cloak><li ng-show="leaveRequestForm['end_date'].$error.required" class="invalid">This field is required.</li><li ng-show="leaveRequestForm['end_date'].$error.date" class="invalid">Enter a valid date.</li><li ng-show="leaveRequestForm['end_date'].$valid" class="valid"></li></ul><ul class="djng-form-control-feedback djng-field-errors" ng-show="leaveRequestForm.end_date.$pristine" ng-cloak><li ng-show="leaveRequestForm.end_date.$message" class="invalid" ng-bind="leaveRequestForm.end_date.$message"></li></ul>
                </div>
              </div>
            </div>


          </div><!-- /.modal-body -->

          {% endverbatim %}

          <div class="modal-footer">
            <a type="button" class="btn btn-default pull-left" href="javascript:history.back()">Back</a>
            <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="{{ form.form_name }}.$invalid || submission.$$state.status === 0">Submit</button>
            <hr>
            <p class="text-yellow text-center">Please note that once submitted, this request <span class="text-bold">cannot</span> be modified until it's reviewed by the medical internship unit.</p>
          </div>

        </div><!-- /.modal-content -->
      </form>
    </div><!-- /.modal-dialog -->
  </div>
</div>



