  <!-- Main Footer -->
  <footer class="main-footer">
    {% if not role == "staff" %}<div class="container">{% endif %}
    <!-- To the right -->
    <div class="pull-right hidden-xs">

      <a class="btn btn-sm btn-flat btn-default" href="http://com.ksau-hs.edu.sa/eng/index.php?option=com_content&view=article&id=269&Itemid=458">
        <i class="fa fa-globe"></i>
      </a>

      <a class="btn btn-sm btn-flat btn-default" href="mailto://clinicalaffairs@example.com">
        <i class="fa fa-envelope-o"></i>
      </a>

    </div>
    <!-- Default to the left -->
    <strong>College of Medicine</strong> | King Saud bin Abdulaziz University for Health Sciences
    {% if not role == "staff" %}</div>{% endif %}
  </footer>