{% load staticfiles %}{% load sitetree %}
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#/" class="navbar-brand"><b>Easy</b>Internship</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

        {% sitetree_menu from "interntree" include "trunk" template "sitetree/menu_bootstrap3.html" %}

      </div><!-- /.navbar-collapse -->
      {% include 'components/right-navbar.html' %}
    </div><!-- /.container-fluid -->
  </nav>
</header>