{% load staticfiles %}{% load djng_tags %}
<!-- REQUIRED JS SCRIPTS -->

<!-- Datatables -->
<script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/lib/datatables/dataTables.responsive.min.js' %}"></script>
<!-- Angular 1.5.6 -->
<script src="{% static 'angular/angular.min.js' %}"></script>
<script src="{% static 'angular/angular-resource.min.js' %}"></script>
<script src="{% static 'angular/angular-route.min.js' %}"></script>
<script src="{% static 'angular/angular-touch.min.js' %}"></script>
<script src="{% static 'angular/angular-animate.min.js' %}"></script>
<script src="{% static 'angular/angular-sanitize.min.js' %}"></script>
<script src="{% static 'angular/ng-file-upload/ng-file-upload-all.min.js' %}"></script>
<!-- Angular UI: Bootstrap -->
<script src="{% static 'angular/ui-bootstrap-tpls-1.3.3.min.js' %}"></script>
<!-- Angular Datatables -->
<script src="{% static 'angular/angular-datatables/angular-datatables.min.js' %}"></script>
<script src="{% static 'angular/angular-datatables/angular-datatables.bootstrap.min.js' %}"></script>
<!-- Handsontable -->
<script src="{% static 'angular/ngHandsontable/handsontable.full.js' %}"></script>
<script src="{% static 'angular/ngHandsontable/ngHandsontable.js' %}"></script>
<!-- ng-scrollbars -->
<script src="{% static 'angular/ng-scrollbars/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'angular/ng-scrollbars/scrollbars.min.js' %}"></script>
<!-- angular-ui-select -->
<script src="{% static 'angular/angular-ui-select/select.min.js' %}"></script>
<!-- Django Angular -->
<script src="{% static 'djng/js/django-angular.js' %}"></script>
<!-- Moment.js -->
<script src="{% static 'js/lib/moment/moment.min.js' %}"></script>
<!-- Angular App -->
<script src="{% static 'js/planner-models.js' %}"></script>
<script src="{% static 'js/accounts-models.js' %}"></script>
<script src="{% static 'js/ei.utils.js' %}"></script>
{% if role == 'intern' %}
<script src="{% static 'js/app.js' %}"></script>
{% elif role == 'staff' %}
<script src="{% static 'js/app-staff.js' %}"></script>
{% elif role == 'outsider' %}
<script src="{% static 'js/app-outsider.js' %}"></script>
{% endif %}
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'admin-lte/js/app.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'js/lib/toastr/toastr.min.js' %}"></script>
<!-- Django NYT Scripts -->
<script type="text/javascript">
  URL_NYT_GET_NEW = "{% url "nyt:json_get" %}";
  URL_NYT_MARK_READ = "{% url "nyt:json_mark_read_base" %}";
  URL_NYT_GOTO = "{% url "nyt:goto_base" %}";
</script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->