<hr style="border-color: lightgray;">
<h4 class="text-bold">{{ list.department.name }} | {{ list.month.format('MMMM YYYY') }}
  <small>(<ng-pluralize count="list.booked_seats" when="{1: '{} request', 'other': '{} requests'}"></ng-pluralize>)</small></h4>
<h4><small>
  <span class="text-bold">Acceptance criterion:</span> {{ list.acceptance_criterion }} |
  <span class="text-bold">Total seats:</span> {{ list.total_seats }} |
  <span class="text-bold">Unoccupied seats:</span> {{ list.unoccupied_seats }}
</small></h4>
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-header text-center" style="padding-top: 2px; padding-bottom: 3px;">
                <h7 class="text-bold text-green" style="margin-top: 0; margin-bottom: 0;">
                  To Accept
                  <span ng-if="list.auto_accepted.length > 0">({{ list.auto_accepted.length }})</span>
                </h7>
              </div>
              <div class="box-body" ng-if="list.auto_accepted.length == 0 && list.manual_accepted.length == 0">
                <div class="text-center">
                  <h7><i>No requests to be accepted</i></h7>
                </div>
              </div>
              <table class="table" ng-if="list.auto_accepted.length > 0">
                <thead>
                  <th>Name</th>
                  <th>Uni.</th>
                  <th>Memo</th>
                  <th ng-if="list.acceptance_criterion == 'FCFS'">Submitted</th>
                  <th ng-if="list.acceptance_criterion == 'GPA'">GPA</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="request in list.auto_accepted">
                    <td>{{ request.intern_name }}</td>
                    <td>{{ request.intern_university }}</td>
                    <td>
                      <a ng-if="request.request_memo" href="{{ request.request_memo }}"><i class="fa fa-cloud-download"></i></a>
                      <span ng-if="!request.request_memo" class="text-gray">N/A</span>
                    </td>
                    <td ng-if="list.acceptance_criterion == 'FCFS'">{{ request.submission_datetime.format('D-MMM-YYYY, hh:mm a') }}</td>
                    <td ng-if="list.acceptance_criterion == 'GPA'">{{ request.gpa }}</td>
                    <td>
                      <a href="" ng-click="comment(request)">
                        <i class="fa" ng-class="{'fa-comment-o': !request.response.comments, 'fa-comment': !!request.response.comments}"></i>
                      </a>
                      <a href="#/interns/{{ request.internship_id }}/" target="_blank"><i class="fa fa-info-circle"></i></a>
                      <a href="" ng-click="moveRequest(request, 'auto_accepted', 'manual_declined')"><i class="fa fa-chevron-circle-right"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table" ng-if="list.manual_accepted.length > 0">
                <thead>
                  <th colspan="6" class="text-center text-green">
                    <i><i class="fa fa-pencil"></i> Manually accepted</i>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="request in list.manual_accepted">
                    <td>{{ request.intern_name }}</td>
                    <td>{{ request.intern_university }}</td>
                    <td>
                      <a ng-if="request.request_memo" href="{{ request.request_memo }}"><i class="fa fa-cloud-download"></i></a>
                      <span ng-if="!request.request_memo" class="text-gray">N/A</span>
                    </td>
                    <td ng-if="list.acceptance_criterion == 'FCFS'">{{ request.submission_datetime.format('D-MMM-YYYY, hh:mm a') }}</td>
                    <td ng-if="list.acceptance_criterion == 'GPA'">{{ request.gpa }}</td>
                    <td>
                      <a href="" ng-click="comment(request)">
                        <i class="fa" ng-class="{'fa-comment-o': !request.response.comments, 'fa-comment': !!request.response.comments}"></i>
                      </a>
                      <a href="#/interns/{{ request.internship_id }}/" target="_blank"><i class="fa fa-info-circle"></i></a>
                      <a href="" ng-click="moveRequest(request, 'manual_accepted', 'auto_declined')"><i class="fa fa-close"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="col-md-6">
            <div class="box box-danger">
              <div class="box-header text-center" style="padding-top: 2px; padding-bottom: 3px;">
                <h7 class="text-bold text-red" style="margin-top: 0; margin-bottom: 0;">
                  To Decline
                  <span ng-if="list.auto_declined.length > 0 || list.manual_declined.length > 0">
                    ({{ (list.auto_declined.length + list.manual_declined.length) }})
                  </span>
                </h7>
              </div>
              <div class="box-body" ng-if="list.auto_declined.length == 0 && list.manual_declined.length == 0">
                <div class="text-center">
                  <h7><i>No requests to be declined</i></h7>
                </div>
              </div>
              <table class="table" ng-if="list.auto_declined.length > 0">
                <thead>
                  <th></th>
                  <th>Name</th>
                  <th>Uni.</th>
                  <th>Memo</th>
                  <th ng-if="list.acceptance_criterion == 'FCFS'">Submitted</th>
                  <th ng-if="list.acceptance_criterion == 'GPA'">GPA</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr ng-repeat="request in list.auto_declined">
                    <td>
                      <a href="" ng-click="moveRequest(request, 'auto_declined', 'manual_accepted')"><i class="fa fa-chevron-circle-left"></i></a>
                    </td>
                    <td>{{ request.intern_name }}</td>
                    <td>{{ request.intern_university }}</td>
                    <td>
                      <a ng-if="request.request_memo" href="{{ request.request_memo }}"><i class="fa fa-cloud-download"></i></a>
                      <span ng-if="!request.request_memo" class="text-gray">N/A</span>
                    </td>
                    <td ng-if="list.acceptance_criterion == 'FCFS'">{{ request.submission_datetime.format('D-MMM-YYYY, hh:mm a') }}</td>
                    <td ng-if="list.acceptance_criterion == 'GPA'">{{ request.gpa }}</td>
                    <td>
                      <a href="" ng-click="comment(request)">
                        <i class="fa" ng-class="{'fa-comment-o': !request.response.comments, 'fa-comment': !!request.response.comments}"></i>
                      </a>
                      <a href="#/interns/{{ request.internship_id }}/" target="_blank"><i class="fa fa-info-circle"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table" ng-if="list.manual_declined.length > 0">
                <thead>
                  <th colspan="6" class="text-center text-red">
                    <i><i class="fa fa-pencil"></i> Manually declined</i>
                  </th>
                </thead>
                <tbody>
                  <tr ng-repeat="request in list.manual_declined">
                    <td>
                      <a href="" ng-click="moveRequest(request, 'manual_declined', 'auto_accepted')"><i class="fa fa-close"></i></a>
                    </td>
                    <td>{{ request.intern_name }}</td>
                    <td>{{ request.intern_university }}</td>
                    <td>
                      <a ng-if="request.request_memo" href="{{ request.request_memo }}"><i class="fa fa-cloud-download"></i></a>
                      <span ng-if="!request.request_memo" class="text-gray">N/A</span>
                    </td>
                    <td ng-if="list.acceptance_criterion == 'FCFS'">{{ request.submission_datetime.format('D-MMM-YYYY, hh:mm a') }}</td>
                    <td ng-if="list.acceptance_criterion == 'GPA'">{{ request.gpa }}</td>
                    <td>
                      <a href="" ng-click="comment(request)">
                        <i class="fa" ng-class="{'fa-comment-o': !request.response.comments, 'fa-comment': !!request.response.comments}"></i>
                      </a>
                      <a href="#/interns/{{ request.internship_id }}/" target="_blank"><i class="fa fa-info-circle"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-success"
            ng-hide="loading == true"
            ng-click="respondAll()"
            style="border-radius: 50%; width: 40px; height: 40px;">
      <i class="fa fa-check"></i>
    </button>
    <button class="btn disabled"
            ng-show="loading == true"
            style="border-radius: 50%; width: 40px; height: 40px; padding: 0;">
      <img src="/static/loading.gif" height="20" style="position: relative; margin: auto;" />
    </button>
  </div>
</div>

<script type="text/ng-template" id="comment-modal.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title"><span class="text-bold">Comment on request #{{ request.id }}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>{{ options.message || 'Comment' }}</label>
        <textarea ng-model="comment" class="form-control" rows="3"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{ options.buttonText || 'Comment' }}</button>
  </div>
</script>