{% verbatim %}
<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title">{{ month.monthLabel }}</h3>
</div>
<div class="modal-body">

  <uib-tabset active="submitted ? 'request-history' : 'rotation-request'" justified="true">
    <uib-tab index="'rotation-request'" disable="submitted" heading="Request a Rotation">

      <ng-include src="'partials/planner/modal-parts/new-rotation-request.html'"></ng-include>

    </uib-tab>
    <uib-tab index="'request-history'" heading="Request History">

      <ng-include src="'partials/planner/modal-parts/request-history.html'"></ng-include>

    </uib-tab>
  </uib-tabset>

</div><!-- /.modal--body -->
{% endverbatim %}