{% verbatim %}
<section class="content-header">
  <h1>
    <!--<i class="fa fa-calendar"></i> -->Internship Planner
  </h1>
  <br>

  <div ng-repeat="message in messages" class="callout callout-{{ message.tags }}">
    <!-- <h4>I am a danger callout!</h4> -->
    <p>{{ message.message }}</p>
  </div>


  <div class="row">
    <div class="col-md-10">
      <div class="box box-solid">
        <div class="box-body" ng-if="!internshipInfo.currentPlanRequestSubmitted">

              Choose your desired general specialty for each of the months below.
              You have to fill 12 months.

        </div>
        <div class="box-body" ng-if="internshipInfo.currentPlanRequestSubmitted">

              Your last plan request was submitted on <b><i>{{ internshipInfo.currentPlanRequestSubmitDateTime }}</i></b>.

        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button style="height: 39px;" class="btn btn-success btn-block pull-right" ng-disabled="internshipInfo.currentPlanRequestSubmitted" ng-class="{'disabled': internshipInfo.currentPlanRequestSubmitted }" ng-click="submit()">Submit</button>
    </div>
  </div>
</section>

<section class="content">
  
<div style="margin-right: -110px; margin-left: -110px;"><!-- FIXME: Mobile compatiblity -->

      <!-- Check out: -->
      <!-- http://stackoverflow.com/a/25838091 -->
      <div class="row" ng-repeat="month in months track by $index" ng-if="$index % 5 == 0">

        <div class="col-md-2" ng-class="{'col-md-offset-1': $index % 5 == 0}" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]">

          <div class="box direct-chat direct-chat-primary internship-month"
               ng-class="{'box-default': rotationViewUnoccupied(i) || rotationViewReqUnoccupied(i), 'box-primary': rotationViewOccupied(i) || rotationViewReqOccupied(i), 'box-warning': requestViewReqUnoccupied(i) || requestViewUpdateReqOccupied(i), 'box-danger': requestViewCancelReqOccupied(i)}">
            <div class="box-header with-border">
              <h3 class="box-title">{{ months[i].monthLabel }}</h3>
              <div class="box-tools pull-right">

              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="col-xs-12" ng-if="rotationView(i)">
                  <h4 ng-if="!hasRotation(i)"><b>No current rotation.</b></h4>

                  <h5 ng-if="hasRotation(i)">{{ months[i].currentRotation.hospital }}</h5>
                  <h4 ng-if="hasRotation(i)"><b>{{ months[i].currentRotation.department }}</b></h4>
                </div>

                <div class="col-xs-12" ng-if="requestView(i)">
                  <h5 ng-if="!requestViewCancelReqOccupied(i)">{{ months[i].currentRequest.hospital }}</h5>
                  <h4 ng-if="!requestViewCancelReqOccupied(i)"><b>{{ months[i].currentRequest.department }}</b></h4>

                  <h4 ng-if="requestViewCancelReqOccupied(i)"><b>You have requested cancellation of this rotation.</b></h4>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button type="button" class="btn btn-block btn-flat" ng-click="showModal(i)"
                        ng-class="{'btn-default': rotationViewUnoccupied(i) || rotationViewReqUnoccupied(i), 'btn-primary': rotationViewOccupied(i) || rotationViewReqOccupied(i), 'btn-warning': requestViewReqUnoccupied(i) || requestViewUpdateReqOccupied(i), 'btn-danger': requestViewCancelReqOccupied(i)}">More Info</button>
                <a ng-if="hasRequest(i)" ng-click="toggleShowRequest(i)" href="">
                  <span ng-if="rotationView(i)" class="badge bg-yellow" style="width:100%; margin-top: 10px;">Show Requested</span>
                  <span ng-if="requestView(i) && months[i].currentRotation != null" class="badge bg-blue" style="width:100%; margin-top: 10px;">Show Current</span>
                  <span ng-if="requestView(i) && months[i].currentRotation == null" class="badge bg-gray" style="width:100%; margin-top: 10px;">Show Current</span>
                </a>
            </div><!-- /.box-footer-->
          </div><!--/.direct-chat -->


          </div>
      </div>
  </div>
</section>
{% endverbatim %}