<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Rotation Requests

    <div class="btn-group pull-right">
      <a href="#/requests/ksauhs/{{ page }}" class="btn btn-default" ng-class="{'active': university == 'ksauhs'}">KSAU-HS</a>
      <a href="#/requests/agu/{{ page }}" class="btn btn-default" ng-class="{'active': university == 'agu'}">AGU</a>
      <a href="#/requests/outside/{{ page }}" class="btn btn-default" ng-class="{'active': university == 'outside'}">Other universities</a>
    </div>

  </h1>
</section>

<!-- Main content -->
<section class="content">
  <style>
    [ng-repeat].ng-enter {
      animation: fadeIn 1s;
    }
  </style>
  <div class="row">
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ng-class="{'active': page == 'kamc-nomemo'}"><a href="#/requests/{{ university }}/kamc-nomemo/"><h4 class="text-bold"><i class="fa fa-sign-in"></i> KAMC - No Memo</h4></a></li>
          <li ng-class="{'active': page == 'kamc-memo'}"><a href="#/requests/{{ university }}/kamc-memo/"><h4 class="text-bold"><i class="fa fa-file-text-o"></i> KAMC - Memo</h4></a></li>
          <li ng-class="{'active': page == 'outside'}" ng-if="university == 'ksauhs' || university == 'agu'"><a href="#/requests/{{ university }}/outside/"><h4 class="text-bold"><i class="fa fa-sign-out"></i> Outside</h4></a></li>
          <li ng-class="{'active': page == 'cancellation'}"><a href="#/requests/{{ university }}/cancellation/"><h4 class="text-bold"><i class="fa fa-close"></i> Cancellation</h4></a></li>
          <li ng-class="{'active': page == 'freezes'}" ng-if="university == 'ksauhs' || university == 'agu'"><a href="#/requests/{{ university }}/freezes/"><h4 class="text-bold"><i class="fa fa-snowflake-o"></i> Freezes</h4></a></li>
          <li ng-class="{'active': page == 'freezecancels'}" ng-if="university == 'ksauhs' || university == 'agu'"><a href="#/requests/{{ university }}/freezecancels/"><h4 class="text-bold"><i class="fa fa-close"></i> Freeze Cancellation</h4></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div ng-hide="acceptance_lists.$promise.$$state.status == 1 || requests.$promise.$$state.status == 1 || !page" style="height: 150px;">
              <img src="/static/loading.gif" height="50" style="position: absolute; top: 50%; left: 50%; margin-left: -15px; margin-top: -15px;" />
            </div>

            <div class="well" ng-if="requests.length > 0">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    Sort by:
                    <select ng-model="ordering.option" ng-options="option.value as option.label for option in orderingOptions" ng-if="page == 'kamc-memo' || page == 'outside' || page == 'cancellation'"></select>
                    <select ng-model="ordering.option" ng-options="option.value as option.label for option in freezeOrderingOptions" ng-if="page == 'freezes' || page == 'freezecancels'"></select>
                    <select ng-model="ordering.reverse" ng-options="option.value as option.label for option in reverseOptions"></select>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <leave-request-response-card ng-repeat="request in requests | orderBy: ordering.option : ordering.reverse"
                                               on-response="removeRequest(request)"
                                               leave-request="request"></leave-request-response-card>
                </div>
              </div>
            </div>

            <div class="text-center" ng-if="requests.$promise.$$state.status == 1 && requests.length == 0 || acceptance_lists.$promise.$$state.status == 1 && acceptance_lists.length == 0">
              <h3 class="text-center">No leave requests to review</h3>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</section>