{% verbatim %}
<div class="example-modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">{{ month.label }}</h3>
        </div>

        <div class="modal-body">
          <h4 class="text-bold">Summary</h4>
          <p>
            <span ng-if="month.occupied">
              During this month, you have a rotation of {{ month.current_rotation.specialty.name }}
              in {{ month.current_rotation.department.hospital.name }}.
            </span>
            <span ng-if="month.requested">
              <br ng-if="month.occupied">
              You <span ng-if="month.occupied">also </span>have a pending request for a rotation of
              <span class="text-yellow">{{ month.current_request.specialty.name }}</span> in
              <span class="text-yellow">{{ month.current_request.requested_department.department.hospital.name }}</span>
              .
            </span>
            <span ng-if="!month.occupied && !month.requested">
              You don't have any active rotation or pending request for this month.
            </span>
          </p>

          <div ng-if="month.occupied">
            <hr>
            <h4 class="text-bold">Details of your rotation</h4>

          </div>

          <div ng-if="month.requested">
            <hr>
            <h4 class="text-bold text-yellow">Details of your pending request</h4>

            <p>
              Below is a detailed breakdown of information about your request, as well as the
              department you'll be rotating in once it's approved.
            </p>

            <div class="box box-solid">
              <div class="box-body bg-warning" style="margin-bottom: 0;">
                <dl class="dl-horizontal">
                  <dt>Specialty</dt>
                  <dd class="text-yellow text-bold">{{ month.current_request.specialty.name }}</dd>

                  <dt>Hospital</dt>
                  <dd class="text-yellow text-bold">{{ month.current_request.requested_department.department.hospital.name }}</dd>

                  <dt style="width: inherit;">Submission date and time</dt>
                  <dd>{{ month.current_request.submission_datetime }}</dd>

                  <dt>Status</dt>
                  <dd>{{ month.current_request.status }}</dd>
                </dl>


                <div class="box box-solid" style="margin-bottom: 0;">
                  <div class="box-header bg-light-blue">
                    <h5 class="text-bold" style="margin-top: 0; margin-bottom: 0;">
                      Details of the department you'll be rotating in
                    </h5>
                  </div>
                  <div class="box-body bg-info">
                    <dl class="dl-horizontal" style="margin-bottom: 0;">
                      <dt>Name of department</dt>
                      <dd>{{ month.current_request.requested_department.department.name }}</dd>

                      <dt>Name of contact person</dt>
                      <dd>{{ month.current_request.requested_department.department.contact_name }}</dd>

                      <dt>Email</dt>
                      <dd>{{ month.current_request.requested_department.department.email }}</dd>

                      <dt>Phone</dt>
                      <dd>{{ month.current_request.requested_department.department.phone }}</dd>

                      <dt>Extension</dt>
                      <dd>{{ month.current_request.requested_department.department.extension }}</dd>
                    </dl>

                  </div>
                </div>

              </div>
            </div>

          </div>

        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <a class="btn btn-default pull-left" href="#/planner/">
            Back
          </a>
          <a class="btn btn-default pull-left" href="#/planner/{{ month.month }}/history/">
            See previous requests for this month
          </a>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
{% endverbatim %}

