{% verbatim %}
<section class="content-header">
  <h1>
    <!--<i class="fa fa-calendar"></i> -->Internship Planner
  </h1>
  <br>

  <div ng-repeat="message in messages" class="callout callout-{{ message.tags }}">
    <!-- <h4>I am a danger callout!</h4> -->
    <p>{{ message.message }}</p>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>Welcome to the Internship Planner!</b></h5>
        </div>
        <div class="box-body" ng-if="!internshipInfo.currentPlanRequestSubmitted">

              Choose your desired rotation for each of the months below.
              You have to fill 12 months.

        </div>
        <div class="box-body" ng-if="internshipInfo.currentPlanRequestSubmitted">

              Your last plan request was submitted on <b><i>{{ internshipInfo.currentPlanRequestSubmitDateTime }}</i></b>.

        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  
<div style="margin-right: -110px; margin-left: -110px;"><!-- FIXME: Mobile compatiblity -->

      <!-- Check out: -->
      <!-- http://stackoverflow.com/a/25838091 -->
      <div class="row" ng-repeat="month in months track by $index" ng-if="$index % 5 == 0">

        <div class="col-md-2" ng-class="{'col-md-offset-1': $index % 5 == 0}" ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3, $index + 4]">

          <div class="box direct-chat direct-chat-primary internship-month" ng-class="'box-' + getTileClass(months[i])">
            <div class="box-header with-border">
              <h3 class="box-title">{{ months[i].label }}</h3>
              <div class="box-tools pull-right">

              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="col-xs-12" style="height: 130px;">
                <div ng-if="!months[i].occupied && !months[i].requested">
                  <!-- #1 Not Occupied, Not Requested -->
                  <br>
                  <br>
                  <h3 class="text-center">No rotation</h3>
                </div>

                <div ng-if="!month[i].occupied && months[i].requested">
                  <!-- #2 Not Occupied, Requested -->
                  <h3 class="text-yellow">Pending</h3>
                  <h4 class="text-blue">{{ months[i].current_request.specialty.name }}</h4>
                  <h5>{{ months[i].current_request.requested_department.department.hospital.name }}</h5>
                </div>

                <!-- #3 Occupied, Not Requested -->
                <!-- TODO -->

                <!-- #4 Occupied, Requested -->
                <!-- TODO -->

              </div>
            </div><!-- /.box-body -->

            <div class="box-footer">

              <div class="btn-group" ng-if="!months[i].occupied && !months[i].requested">
                <!-- #1 Not Occupied, Not Requested -->
                <a type="button" class="btn btn-default btn-flat" href="#/planner/{{ months[i].month }}/new/">Request a rotation</a>
                <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#/planner/{{ months[i].month }}/history/">See previous requests for this month</a></li>
                </ul>
              </div>

              <div class="btn-group" ng-if="!months[i].occupied && months[i].requested">
                <!-- #2 Not Occupied, Requested -->
                <a class="btn btn-xs btn-{{ getTileClass(months[i]) }} btn-flat" href="#/planner/{{ months[i].month }}/">Get more info</a>
                <button type="button" class="btn btn-xs btn-{{ getTileClass(months[i]) }} btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#/planner/{{ months[i].month }}/history/">See previous requests for this month</a></li>
                </ul>
              </div>

              <!-- TODO: #3 & #4 -->
              <div class="btn-group btn-group-xs" ng-if="months[i].occupied">
                <a class="btn btn-xs btn-{{ getTileClass(months[i]) }} btn-flat" href="#/planner/{{ months[i].month }}/">Get more info</a>
                <button type="button" class="btn btn-xs btn-{{ getTileClass(months[i]) }} btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Request a change</a></li>
                  <li><a href="#/planner/{{ months[i].month }}/history/">See previous requests for this month</a></li>
                </ul>
              </div>

            </div><!-- /.box-footer-->
          </div><!--/.direct-chat -->


          </div>
      </div>
  </div>
</section>
{% endverbatim %}