{% extends "userena/profile_detail.html" %}

{% block profile_details %}
  <div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-light-blue-gradient">
      <div class="widget-user-image">
        <img class="img-circle" src="{{ profile.get_mugshot_url }}" alt="User Avatar">
      </div><!-- /.widget-user-image -->
      <h3 class="widget-user-username">{{ profile.get_en_full_name }}</h3>
      <h5 class="widget-user-desc">{{ profile.role|capfirst }}</h5>
    </div>
    <div class="box-footer no-padding">

    </div>
  </div>
  <dl>
    <dt>Name (Arabic)</dt>
    <dd>{{ profile.get_ar_full_name }}</dd>

    <dt>Name (English)</dt>
    <dd>{{ profile.get_en_full_name }}</dd>

    <dt>University</dt>
    <dd>{{ profile.intern.university.name }}</dd>

    <dt>Batch</dt>
    <dd>{{ profile.intern.batch.name }}</dd>

    {% if not hide_email %}
      {% block email %}
        <dt>Email</dt>
        <dd>{{ profile.user.email }}</dd>
      {% endblock %}
    {% endif %}

    {% block student_id %}{% endblock %}

    <dt>Phone Number</dt>
    <dd>{{ profile.intern.phone_number }}</dd>

    <dt>Mobile Number</dt>
    <dd>{{ profile.intern.mobile_number }}</dd>

    <dt>Address</dt>
    <dd>{{ profile.intern.address|linebreaksbr }}</dd>

    <dt>ID Number</dt>
    <dd>{{ profile.intern.id_number }}</dd>

    <dt>ID Image</dt>
    <dd>See it <a href="{{ profile.intern.id_image.url }}">here</a>.</dd>

    {% block passport %}{% endblock %}

    {% block medical_info %}{% endblock %}

    <dt>Contact Person Name</dt>
    <dd>{{ profile.intern.contact_person_name }}</dd>

    <dt>Contact Person Relation</dt>
    <dd>{{ profile.intern.contact_person_relation }}</dd>

    <dt>Contact Person Mobile</dt>
    <dd>{{ profile.intern.contact_person_mobile }}</dd>

    <dt>Contact Person Email</dt>
    <dd>{{ profile.intern.contact_person_email }}</dd>

    <dt>GPA</dt>
    <dd>{{ profile.intern.gpa }}</dd>

    {% block graduation_info %}{% endblock %}

  </dl>
{% endblock %}