{% extends "accounts/profile_detail/base.html" %}

{% block email %}
    {{ block.super }}
    <dt>Alternative Email</dt>
    <dd>{{ profile.intern.alt_email }}</dd>
{% endblock %}

{% block student_id %}
    <dt>Student Number</dt>
    <dd>{{ profile.intern.student_number}}</dd>

    <dt>Badge Number</dt>
    <dd>{{ profile.intern.badge_number }}</dd>
{% endblock %}

{% block passport %}
    {% if profile.intern.has_passport %}
      <dt>Passport Number</dt>
      <dd>{{ profile.intern.passport_number }}</dd>

      <dt>Passport Image</dt>
      <dd>See it <a href="{{ profile.intern.passport_image.url }}">here</a>.</dd>
    {% else %}
      <dt>Expired or no passport form</dt>
      <dd>See it <a href="{{ profile.intern.passport_attachment.url }}">here</a>.</dd>
    {% endif %}
{% endblock %}

{% block medical_info %}
    <dt>Medical Record Number</dt>
    <dd>{{ profile.intern.medical_record_number }}</dd>
{% endblock %}