{% load staticfiles %}
<!-- Content Header (Page header) -->
{#<section class="content-header">#}
{#  <div class="row">#}
{#    <div class="col-md-offset-4 col-md-4">#}
{#      <h1>#}
{#        Welcome!#}
{#      </h1>#}
{#    </div>#}
{#  </div>#}
{#</section>#}

<!-- Main content -->
<style>
  #hello {
    background: url({% static 'img/ksauhs-admin-tower.jpg' %}) no-repeat center;
    width: 120%;
    height: 92vh;
    background-size: cover;
    margin-right: -60px;
    margin-left: -70px;
  }
</style>

<div id="hello">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">

      <img style="height: 100px; width: 100px;" src="{% static 'img/ksauhs-logo.gif' %}" />
      <h1>
        <span style="font-size: 1.7em;"><b>Easy</b>Internship</span>
      </h1>
      <h3 class="text-gray-active">Internship management system<br>King Saud bin Abdulaziz University for Health Sciences</h3>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <a href="{% url 'userena_signin' %}" class="btn btn-primary btn-block btn-flat">Sign in</a>
      <a href="{% url 'userena_signup' %}" class="btn btn-default btn-block btn-flat">Sign up</a>
    </div>
  </div>
</div>




{#    <div uib-carousel active="1">#}
{#      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">#}
{#        <img ng-src="{{ slide.image }}" style="margin:auto;">#}
{#        <div class="carousel-caption">#}
{#          <h4>Slide {{ slide.id }}</h4>#}
{#          <p>{{ slide.text }}</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}