<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1>
        Welcome!
      </h1>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class=" col-md-offset-4 col-md-4">
      <a href="{% url 'userena_signin' %}" class="btn btn-primary btn-block btn-flat">Sign in</a>
      <a href="{% url 'userena_signup' %}" class="btn btn-default btn-block btn-flat">Sign up</a>
    </div>
  </div>
</section>