<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Memos</h1>
</section>

<!-- Main content -->
<section class="content">
  <style>
    [ng-repeat].ng-enter {
      animation: fadeIn 1s;
    }
  </style>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header">
          <h4 class="box-title text-yellow text-bold">Memos awaiting response (through <i>Medical Internship Unit</i>)</h4>
        </div>
        <div class="box-body">

          <table datatable="" class="table" dt-options="dtOptions1" dt-columns="dtColumns" style="width: 100%"></table>

        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<div class="box box-solid">-->
        <!--<div class="box-header">-->
          <!--<h4 class="box-title text-yellow text-bold">Memos awaiting response (through <i>intern</i>)</h4>-->
        <!--</div>-->
        <!--<div class="box-body">-->

          <!--<table datatable="" class="table" dt-options="dtOptions" dt-columns="dtColumns" style="width: 100%"></table>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<hr>-->
  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<div class="box box-solid">-->
        <!--<div class="box-header">-->
          <!--<h4 class="box-title">Memos that have been responded to</h4>-->
        <!--</div>-->
        <!--<div class="box-body">-->

          <!--<table datatable="" class="table" dt-options="dtOptions" dt-columns="dtColumns" style="width: 100%"></table>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</section>