<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Rotation Requests</h1>
</section>

<!-- Main content -->
<section class="content">
  <style>
    [ng-repeat].ng-enter {
      animation: fadeIn 1s;
    }
  </style>
  <div class="row">
    <div class="col-xs-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li ng-class="{'active': page == 'kamc-nomemo'}"><a href="#/requests/kamc-nomemo/"><h4 class="text-bold"><i class="fa fa-sign-in"></i> KAMC - No Memo</h4></a></li>
          <li ng-class="{'active': page == 'kamc-memo'}"><a href="#/requests/kamc-memo/"><h4 class="text-bold"><i class="fa fa-file-text-o"></i> KAMC - Memo</h4></a></li>
          <li ng-class="{'active': page == 'outside'}"><a href="#/requests/outside/"><h4 class="text-bold"><i class="fa fa-sign-out"></i> Outside</h4></a></li>
          <li ng-class="{'active': page == 'cancellation'}"><a href="#/requests/cancellation/"><h4 class="text-bold"><i class="fa fa-close"></i> Cancellation</h4></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div ng-hide="acceptance_lists.$promise.$$state.status == 1 || requests.$promise.$$state.status == 1 || !page" style="height: 150px;">
              <img src="/static/loading.gif" height="50" style="position: absolute; top: 50%; left: 50%; margin-left: -15px; margin-top: -15px;" />
            </div>
            <div class="text-center" ng-if="!page">
              <h3 class="text-center">Please choose one of the tabs above.</h3>
              <br>
            </div>
            <div class="well" ng-if="acceptance_lists.length > 0">
              <div class="row">
                <div class="col-sm-1 col-sm-offset-1">
                  <h5 class="text-bold pull-right">Filter</h5>
                </div>
                <div class="col-sm-5">
                  <ui-select multiple ng-model="selected.months" theme="bootstrap" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Filter by month...">{{ $item.format('MMMM YYYY') }}</ui-select-match>
                    <ui-select-choices repeat="month in filterMonths">
                      <div ng-bind-html="month.format('MMMM YYYY') | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>

                <div class="col-sm-5">
                  <ui-select multiple ng-model="selected.departments" theme="bootstrap" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Filter by department...">{{ $item.name }}</ui-select-match>
                    <ui-select-choices repeat="department in filterDepartments">
                      <div ng-bind-html="department.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                  <acceptance-list list="list"
                                   on-response="removeFromList(list)"
                                   ng-repeat="list in acceptance_lists | filterByMonth:selected.months | filterByDepartment:selected.departments"></acceptance-list>
                </div>
              </div>
            </div>

            <div class="well" ng-if="requests.length > 0">
              <div class="row">
                <div class="col-md-12">
                  <div class="pull-right">
                    Sort by:
                    <select ng-model="ordering.option" ng-options="option.value as option.label for option in orderingOptions"></select>
                    <select ng-model="ordering.reverse" ng-options="option.value as option.label for option in reverseOptions"></select>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <rotation-request-forward-card rotation-request="request"
                                                 ng-if="page == 'kamc-memo' || page == 'outside'"
                                                 ng-repeat="request in requests | orderBy: ordering.option : ordering.reverse"
                                                 on-forward="removeRequest(request)"></rotation-request-forward-card>

                  <rotation-cancel-request-response-card rotation-request="request"
                                                         ng-if="page == 'cancellation'"
                                                         ng-repeat="request in requests | orderBy: ordering.option : ordering.reverse"
                                                         on-response="removeRequest(request)"></rotation-cancel-request-response-card>
                </div>
              </div>
            </div>

            <div class="text-center" ng-if="requests.$promise.$$state.status == 1 && requests.length == 0 || acceptance_lists.$promise.$$state.status == 1 && acceptance_lists.length == 0">
              <h3 class="text-center">No rotation requests to review</h3>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</section>