{% extends 'userena/base_userena.html' %}
{% load i18n %}{% load bootstrap3 %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
  <ul id="box-nav">
    <li class="first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'View profile' %}</span></a></li>
    <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
  </ul>

  <div class="box box-widget widget-user-2">
    <div class="widget-user-header bg-light-blue-gradient">
      <div class="widget-user-image">
        <img class="img-circle" src="{{ profile.get_mugshot_url }}" alt="User Avatar">
      </div><!-- /.widget-user-image -->
      <h3 class="widget-user-username">{{ profile.get_en_full_name }}</h3>
      <h5 class="widget-user-desc">{{ profile.role|capfirst }}</h5>
    </div>
    <div class="box-footer no-padding">
    </div>
  </div>

  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Edit Profile" %}</legend>
    {% bootstrap_form form %}
  </fieldset>
  <p>
    <span class="text-bold">Important note</span>: By clicking the save button below, you confirm and thus take responsiblity
    that all the information above is true, accurate, and up-to-date.
  </p>
  <div class="row">
    <div class="col-xs-5">
      <button class="btn btn-primary btn-flat" type="submit">{% trans "Save changes" %}</button>
    </div>
  </div>
</form>
{% endblock %}
