{% extends 'userena/base_userena.html' %}
{% load i18n %}{% load bootstrap3 %}{% load staticfiles %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
  {% if form.form_type == 'ksauhs' %}
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <img style="width: 100%;" class="img-circle" src="{% static 'ksauhs_logo.png' %}" />
    </div>
  </div>

  <hr>
  {% elif form.form_type == 'agu' %}
  <div class="row">
    <div class="col-xs-offset-1 col-xs-5">
      <img style="width: 100%;" class="img-circle" src="{% static 'ksauhs_logo.png' %}" />
    </div>
    <div class="col-xs-5">
      <img style="width: 100%; margin-top: 3px;" class="img-circle" src="{% static 'agu_logo.jpg' %}" />
    </div>
  </div>

  <hr>
  {% endif %}

  <p class="login-box-msg">
    Fill the details below to create your account
  </p>
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% bootstrap_form_errors form %}

  {% bootstrap_field form.university %}

  {% bootstrap_field form.page %}

  {% bootstrap_field form.ar_first_name %}
  {% bootstrap_field form.ar_father_name %}
  {% bootstrap_field form.ar_grandfather_name %}
  {% bootstrap_field form.ar_last_name %}
  <hr>
  {% bootstrap_field form.en_first_name %}
  {% bootstrap_field form.en_father_name %}
  {% bootstrap_field form.en_grandfather_name %}
  {% bootstrap_field form.en_last_name %}

  {% if form.form_type == 'ksauhs' %}
  <hr>
  {% bootstrap_field form.student_number %}
  {% bootstrap_field form.badge_number %}
  {% endif %}

  <hr>
  {% bootstrap_field form.email %}
  {% if form.form_type == 'ksauhs' %}{% bootstrap_field form.alt_email %}{% endif %}
  <hr>
  {% bootstrap_field form.phone_number %}
  {% bootstrap_field form.mobile_number %}
  {% bootstrap_field form.address %}
  <hr>
  {% bootstrap_field form.id_number %}
  {% bootstrap_field form.id_image %}

  {% if form.form_type == 'ksauhs' %}
  <hr>
  <p>In case you don't have a valid passport for any reason, please check the box below.</p>
  {% bootstrap_field form.has_no_passport %}
  <hr>
  {% bootstrap_field form.passport_number %}
  {% bootstrap_field form.passport_image %}
  {% bootstrap_field form.passport_attachment %}
  <hr>
  {% bootstrap_field form.medical_record_number %}
  {% elif form.form_type == 'agu' %}
  <hr>
  {% bootstrap_field form.passport_number %}
  {% bootstrap_field form.passport_image %}
  {% endif %}

  {% if form.form_type == 'outside' %}
  <hr>
  {% bootstrap_field form.medical_checklist %}
  {% endif %}
  <hr>
  {% bootstrap_field form.contact_person_name %}
  {% bootstrap_field form.contact_person_relation %}
  {% bootstrap_field form.contact_person_mobile %}
  {% bootstrap_field form.contact_person_email %}
  <hr>
  {% bootstrap_field form.gpa %}

  {% if form.form_type == 'outside' %}
  <div class="form-group">
    <label>Graduation date</label>
    <div class="row">
      <div class="col-xs-6" style="padding-right: 2px;">
        {% bootstrap_field form.graduation_month show_label=False %}
      </div>
      <div class="col-xs-6" style="padding-left: 2px;">
        {% bootstrap_field form.graduation_year show_label=False %}
      </div>
    </div>
  </div>
  {% bootstrap_field form.academic_transcript %}

  <hr>

  <div class="form-group">
    <label>University name</label>
    <div class="row">
      <div class="col-xs-8" style="padding-right: 2px;">
        {% bootstrap_field form.university_name show_label=False %}
      </div>
      <div class="col-xs-4" style="padding-left: 2px;">
        {% bootstrap_field form.university_abbreviation show_label=False %}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Address</label>
    <div class="row">
      <div class="col-xs-6" style="padding-right: 2px;">
        {% bootstrap_field form.university_city show_label=False %}
      </div>
      <div class="col-xs-6" style="padding-left: 2px;">
        {% bootstrap_field form.university_country show_label=False %}
      </div>
    </div>
  </div>

  {% bootstrap_field form.university_internship_phone %}
  {% bootstrap_field form.university_internship_fax %}
  {% bootstrap_field form.university_internship_email %}

  {% endif %}

  <hr>
  <div class="form-group">
    <label>Internship starting date</label>
    <div class="row">
      <div class="col-xs-6" style="padding-right: 2px;">
        {% bootstrap_field form.starting_month show_label=False %}
      </div>
      <div class="col-xs-6" style="padding-left: 2px;">
        {% bootstrap_field form.starting_year show_label=False %}
      </div>
    </div>
  </div>
  {# {% bootstrap_field form.starting_year %}#}
  {# {% bootstrap_field form.starting_month %}#}
  <hr>
  {% bootstrap_field form.password1 %}
  {% bootstrap_field form.password2 %}

  <p>
    <span class="text-bold">Important note</span>: By signing up, you confirm and thus take responsiblity
    that all the information above is true, accurate, and up-to-date.
  </p>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
    </div><!-- /.col -->
  </div>
</form>

<a href="{% url 'userena_signin' %}" class="text-center">Already registered? Sign in</a>

{% if form.form_type == 'ksauhs' %}
<script type="text/javascript">
$(document).ready(function () {
  var $checkbox = $("#id_has_no_passport"),
      $passportNumber = $(".form-group input[name=passport_number]").parent(),
      $passport = $(".form-group input[name=passport]").parent().parent().parent(),
      $passportAttachment = $(".form-group input[name=passport_attachment]").parent().parent().parent();

  function showOrHide(checked) {
    if (checked) {
      $passportNumber.hide();
      $passport.hide();
      $passportAttachment.show();
    } else {
      $passportNumber.show();
      $passport.show();
      $passportAttachment.hide();
    }
  }

  $checkbox.on('ifChecked', function (event) {
    showOrHide(true);
  });

  $checkbox.on('ifUnchecked', function (event) {
    showOrHide(false);
  });

  $("<p>Please fill <a href='{% static 'expired_or_no_passport_form.pdf' %}'>this form</a> and attach it below.</p>").insertAfter($passportAttachment.find("label"));

  showOrHide($checkbox.prop('checked'));
});

</script>
{% endif %}

{% if form.form_type == 'outside' %}
<script type="text/javascript">
$(document).ready(function () {
   var $medicalChecklist = $(".form-group input[name=medical_checklist]").parent().parent().parent();

   $("<p>Please fill <a href='{% static 'medical_checklist.pdf' %}'>this form</a> and attach it below.</p>").insertAfter($medicalChecklist.find("label"));
});
</script>
{% endif %}

{% endblock %}
