{% extends 'userena/base_userena.html' %}
{% load i18n %}{% load bootstrap3 %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
  <p class="login-box-msg">
    Fill the details below to create your account
  </p>
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% bootstrap_form_errors form %}

  {% bootstrap_field form.ar_first_name placeholder='' %}
  {% bootstrap_field form.ar_middle_name %}
  {% bootstrap_field form.ar_last_name %}
  {% bootstrap_field form.en_first_name %}
  {% bootstrap_field form.en_middle_name %}
  {% bootstrap_field form.en_last_name %}
  {% bootstrap_field form.student_number %}
  {% bootstrap_field form.badge_number %}
  {% bootstrap_field form.email %}
  {% bootstrap_field form.phone_number %}
  {% bootstrap_field form.mobile_number %}
  {% bootstrap_field form.address %}
  {% bootstrap_field form.saudi_id_number %}
  {% bootstrap_field form.saudi_id %}
  {% bootstrap_field form.passport_number %}
  {% bootstrap_field form.passport %}
  {% bootstrap_field form.medical_record_number %}
  {% bootstrap_field form.contact_person_name %}
  {% bootstrap_field form.contact_person_relation %}
  {% bootstrap_field form.contact_person_mobile %}
  {% bootstrap_field form.contact_person_email %}
  {% bootstrap_field form.gpa %}
  {% bootstrap_field form.starting_year %}
  <hr>
  {% bootstrap_field form.password1 %}
  {% bootstrap_field form.password2 %}

  <p>
    <span class="text-bold">Important note</span>: By signing up, you confirm and thus take responsiblity
    that all the information above is true, accurate, and up-to-date.
  </p>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
    </div><!-- /.col -->
  </div>
</form>

<a href="{% url 'userena_signin' %}" class="text-center">Already registered? Sign in</a>

{% endblock %}
