<div class="example-modal">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">Request to cancel {{ leave.type.name }} during {{ month.label }}</h3>
        </div>

        <div class="modal-body">
          <p>
            You are requesting to <span class="text-red text-bold">cancel your {{ leave.type.name }}</span>
            during the month <span class="text-red text-bold">{{ month.label }}</span>.
            <br>
            Are you sure you want to continue?
          </p>
        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <a class="btn btn-default pull-left" href="javascript:history.back()">
            No, take me back
          </a>
          <button class="btn btn-danger" ng-click="submit()">
            Yes, I want to cancel this leave
          </button>
          <hr>
          <p class="text-yellow text-center">Please note that once submitted, this request <span class="text-bold">cannot</span> be modified until it's reviewed by the medical internship unit.</p>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>

