{% verbatim %}
<form class="form-horizontal">
    <div class="form-group" ng-if="month.currentRotation != null">
      <label for="requestType" class="col-sm-3 control-label">What do you want to do?</label>
      <div class="col-sm-9">
          <select class="form-control" id="requestType" ng-model="chosen.delete">
            <option disabled selected value> -- select an option -- </option>
            <option value="false">Change to a new rotation</option>
            <option value="true">Cancel rotation</option>
          </select>
      </div>
    </div>
    <div class="form-group" ng-if="chosen.delete == 'false' || month.currentRotation == null">
      <label for="hospitalInput" class="col-sm-3 control-label">Hospital</label>
      <div class="col-sm-9">
          <select class="form-control" id="hospitalInput" ng-model="chosen.requested_department.department_hospitalID">
            <!-- <option disabled selected value> -- select an option -- </option> -->
            <option ng-repeat="hospital in hospitals" value="{{ hospital.id }}">{{ hospital.name }}</option>
          </select>
      </div>
    </div>

  <!-- <h5>Show department field only if a hospital is selected.</h5> -->

  <div class="form-group" ng-if="chosen.requested_department.department_hospitalID != null">
      <label for="departmentInput" class="col-sm-3 control-label">Department</label>
      <div class="col-sm-9">
          <select class="form-control" id="departmentInput" ng-model="chosen.departmentID">
            <!-- <option disabled selected value> -- select an option -- </option> -->
            <option ng-repeat="department in hospitals[chosen.requested_department.department_hospitalID - 1].departments" value="{{ department.id }}">{{ department.name }}</option>
            <option value="-1">Fill new department details</option>
          </select>
      </div>
    </div>

  <!-- <h5>Show the following only if <i>Fill new department details</i> is selected above.</h5> -->

  <div ng-if="chosen.departmentID == -1">
    <div class="form-group">
      <label for="departmentName" class="col-sm-4 control-label">Department Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="departmentName" ng-model="chosen.requested_department.department_name" placeholder="Department Name" />
      </div>
    </div>
    <div class="form-group">
      <label for="departmentSpecialty" class="col-sm-4 control-label">Department Specialty</label>
      <div class="col-sm-8">
        <select class="form-control" id="departmentSpecialty" ng-model="chosen.requested_department.department_specialtyID">
          <option ng-repeat="specialty in specialties" value="{{ specialty.id }}">{{ specialty.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="departmentContactName" class="col-sm-4 control-label">Department Contact Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="departmentContactName" ng-model="chosen.requested_department.department_contact_name" placeholder="Department Contact Name" />
      </div>
    </div>
    <div class="form-group">
      <label for="departmentEmail" class="col-sm-4 control-label">Department Email</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="departmentEmail" ng-model="chosen.requested_department.department_email" placeholder="Department Email" />
      </div>
    </div>
    <div class="form-group">
      <label for="departmentPhone" class="col-sm-4 control-label">Department Phone</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="departmentPhone" ng-model="chosen.requested_department.department_phone" placeholder="Department Phone" />
      </div>
    </div>
    <div class="form-group">
      <label for="departmentExtension" class="col-sm-4 control-label">Department Extension</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="departmentExtension" ng-model="chosen.requested_department.department_extension" placeholder="Department Extension" />
      </div>
    </div>
  </div>

      <button class="btn btn-block btn-flat btn-primary submit-btn" ng-click="ok()">Submit</button>
</form>
{% endverbatim %}