{% verbatim %}
<div style="background-color: #ecf0f5; padding-top: 10px; padding-bottom: 10px;">
  <p ng-if="month.requestHistory.length == 0" style="text-align: center;"><i>No request history for this month.</i></p>

  <ul ng-if="month.requestHistory.length != 0" class="timeline">
      <!-- timeline item -->
      <li ng-repeat="request in month.requestHistory.slice().reverse()">
          <!-- timeline icon --><!-- TODO: include response status and datetime -->
          <i data-toggle="tooltip" data-placement="left" title="Reviewed: {{ request.reviewDate }}" ng-class="{'fa fa-check bg-green': request.reviewed && request.approved, 'fa fa-close bg-red': request.reviewed && !request.approved, 'fa fa-clock-o bg-yellow': !request.reviewed}"></i>
          <div class="timeline-item">
              <span data-toggle="tooltip" data-placement="top" title="Requested: {{ request.fullDate }}" class="time"><i class="fa fa-clock-o"></i> {{ request.shortDate }}</span>

              <h3 class="timeline-header" ng-if="request.delete">Cancel Rotation</h3>
              <h3 class="timeline-header" ng-if="!request.delete">Update to <b>{{ request.department }}</b></h3>

          </div>
      </li>
      <!-- END timeline item -->

      <!-- timeline item -->
      <li>
          <i class="fa fa-clock-o bg-gray"></i>
      </li>
      <!-- END timeline item -->
  </ul><!-- /.timeline -->

</div>
{% endverbatim %}