{% verbatim %}
<dl class="dl-horizontal" ng-if="!month.currentRequest.delete">
  <dt>Specialty</dt>
  <dd>{{ month.currentRequest.specialty }}</dd>

  <dt>Subspecialty</dt>
  <dd>{{ month.currentRequest.subSpecialty }}</dd>

  <dt>Hospital</dt>
  <dd>{{ month.currentRequest.hospital }}</dd>

  <dt>Department</dt>
  <dd>{{ month.currentRequest.department }}</dd>

  <dt>Section</dt>
  <dd>{{ month.currentRequest.section }}</dd>

  <dt>Request Submission Date</dt>
  <dd>{{ month.currentRequest.date }}</dd>
</dl>

<dl class="dl-horizontal" ng-if="month.currentRequest.delete">
  <dt>Description</dt>
  <dd>You have requested <b class="text-red">cancellation</b> of this rotation.</dd>

  <dt>Request Submission Date</dt>
  <dd>{{ month.currentRequest.date }}</dd>
</dl>

<div class="row"><!-- TODO: Test for the presence of these buttons -->
    <div class="col-md-9" style="padding-right: 3px;">
        <button class="btn btn-block btn-flat btn-warning">Update Request</button>
    </div>
    <div class="col-md-3" style="padding-left: 3px;">
        <button class="btn btn-block btn-flat btn-danger">Cancel Request</button>
    </div>
</div>
{% endverbatim %}