{% verbatim %}
<dl class="dl-horizontal">
  <dt>Specialty</dt>
  <dd>{{ month.currentRotation.specialty }}</dd>

  <dt>Subspecialty</dt>
  <dd>{{ month.currentRotation.subSpecialty }}</dd>

  <dt>Hospital</dt>
  <dd>{{ month.currentRotation.hospital }}</dd>

  <dt>Department</dt>
  <dd>{{ month.currentRotation.department }}</dd>

  <dt>Section</dt>
  <dd>{{ month.currentRotation.section }}</dd>

  <dt>Request Submission Date</dt>
  <dd>{{ month.currentRotation.submitDate }}</dd>

  <dt>Request Review Date</dt>
  <dd>{{ month.currentRotation.reviewDate }}</dd>
</dl>
{% endverbatim %}