{% verbatim %}
<section class="content-header">
  <h1>
    Dashboard
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header">
          <h5 class="box-title"><b>Welcome!</b></h5>
        </div>
        <div class="box-body">

          There isn't quite much here yet.
          Check out the <a href="#/planner">Internship Planner</a> for now.

        </div>
      </div>
    </div>
  </div>
</section>
{% endverbatim %}